@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-6rem); }
  to {
    opacity: 1;
    transform: translateY(0); } }

.fade-in-laptop {
  opacity: 0;
  transition: opacity 250ms ease-in; }

.fade-in-laptop.appear {
  opacity: 1; }

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in; }

.fade-in.appear {
  opacity: 1; }

.from-left {
  transform: translateX(-50%); }

.from-right {
  transform: translateX(50%); }

.from-left,
.from-right {
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  opacity: 0; }

.from-left.translate,
.from-right.translate {
  transform: translateX(0);
  opacity: 1; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden; }

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.container {
  max-width: 130rem;
  margin: 0px auto;
  position: relative; }

*:focus {
  outline: none; }

::selection {
  background-color: #dcdde1; }

body::-webkit-scrollbar {
  width: 1.15rem; }

body::-webkit-scrollbar-track {
  background-color: #2d3436; }

body::-webkit-scrollbar-thumb {
  background-color: #fbc531;
  border-radius: 2rem;
  border: #2d3436 3px solid; }

#home {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../img/heroImage.jpg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
  color: #fff;
  position: relative; }
  @media (max-width: 90) and (max-height: 56.25) {
    #home {
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../img/macbook15HeroImage.jpg); } }
  @media (max-width: 85.375em) {
    #home {
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../img/laptopheroImage.jpg); } }
  @media (max-width: 75em) {
    #home {
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../img/tabletHeroImage.jpg); } }
  @media (max-width: 70em) {
    #home {
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../img/tabletlandscaleheroImage.jpg); } }
  @media (max-width: 64em) {
    #home {
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../img/ipadproheroImage.jpg); } }
  @media (max-width: 46em) and (max-height: 26em) {
    #home {
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../img/heroImageIphone7landscape.jpg); } }
  @media (max-width: 25.875em) {
    #home {
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../img/7plusheroImage.jpg); } }
  @media (max-width: 25.875em) and (max-height: 56em) {
    #home {
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../img/iphoneXSMAXheroImage.jpg); } }
  @media (max-width: 23.4375em) and (max-height: 50.75em) {
    #home {
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../img/iphoneXheroImage.jpg); } }

.hero-text {
  font-size: 7rem;
  font-weight: 100;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  letter-spacing: 1rem;
  animation: fadein forwards 1s ease;
  padding-top: 15rem;
  margin-bottom: 3rem;
  text-align: center; }
  @media (max-width: 75em) {
    .hero-text {
      padding-top: 25rem; } }
  @media (max-width: 56em) and (max-height: 25.875em) {
    .hero-text {
      padding-top: 13rem;
      font-weight: 100;
      font-size: 4rem;
      margin-bottom: 1rem; } }
  @media (max-width: 46em) and (max-height: 26em) {
    .hero-text {
      padding-top: 8rem;
      font-weight: 300;
      font-size: 4rem; } }
  @media (max-width: 37.5em) {
    .hero-text {
      padding-top: 15rem;
      font-size: 3rem;
      font-weight: 300;
      text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1); } }
  @media (max-width: 17.5em) {
    .hero-text {
      padding-top: 15rem;
      font-size: 1.8rem;
      font-weight: 400; } }

.slogan {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.3;
  position: absolute;
  left: 50%;
  top: 110%;
  transform: translate(-50%, -50%);
  margin-bottom: 6rem; }
  @media (max-width: 56em) and (max-height: 25.875em) {
    .slogan {
      font-size: 1.5rem; } }
  @media (max-width: 37.5em) {
    .slogan {
      font-size: 1.4rem; } }
  @media (max-width: 17.5em) {
    .slogan {
      font-size: 1rem; } }

#mission {
  min-height: 100vh;
  background: #333333; }
  @media (min-width: 125em) {
    #mission {
      min-height: 70vh; } }
  @media (max-width: 85.375em) {
    #mission {
      min-height: 115vh; } }
  @media (max-width: 70em) {
    #mission {
      min-height: 100vh;
      margin-top: -5rem;
      padding-top: 5rem; } }
  @media (max-width: 52.125em) {
    #mission {
      min-height: 100vh;
      margin-top: -3rem;
      padding-top: 3rem; } }

.mission-text {
  position: relative;
  text-align: center;
  padding-top: 5rem;
  font-size: 4rem;
  color: #dcdde1;
  margin-bottom: 10rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300; }
  @media (max-width: 75em) {
    .mission-text {
      margin-bottom: 16rem; } }
  @media (max-width: 52.125em) {
    .mission-text {
      padding-top: 0rem; } }
  @media (max-width: 37.5em) {
    .mission-text {
      padding-top: 3rem;
      margin-bottom: 6rem; } }
  @media (max-width: 37.5em) {
    .mission-text {
      font-size: 2.5rem; } }
  @media (max-width: 17.5em) {
    .mission-text {
      font-size: 2rem; } }

.scroll-container {
  background: transparent;
  margin: auto;
  display: flex;
  justify-content: center; }

.downwards {
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(355deg) brightness(109%) contrast(101%);
  height: 3rem;
  opacity: .5;
  animation: bounce 3s ease-in-out infinite;
  transition: all .3s ease-in-out; }
  .downwards:hover {
    filter: invert(91%) sepia(16%) saturate(3200%) hue-rotate(332deg) brightness(104%) contrast(97%);
    opacity: .7; }
  @media (max-width: 37.5em) {
    .downwards {
      height: 2.5rem; } }

.scroll-down {
  background: transparent;
  border: none;
  position: absolute;
  top: 260%;
  cursor: pointer; }
  @media (max-width: 85.375em) {
    .scroll-down {
      top: 180%; } }
  @media (max-width: 52.125em) {
    .scroll-down {
      top: 170%; } }
  @media (max-width: 46em) and (max-height: 26em) {
    .scroll-down {
      top: 190%; } }
  @media (max-width: 37.5em) {
    .scroll-down {
      top: 190%; } }

#services {
  min-height: 100vh;
  background: linear-gradient(62deg, rgba(29, 67, 80, 0.94), rgba(164, 57, 49, 0.9)), url(../../img/heroConstruction.jpg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
  color: #fff; }
  @media (min-width: 125em) {
    #services {
      min-height: 50vh; } }

.services-header {
  font-weight: 100;
  font-size: 5rem;
  text-align: center;
  padding-top: 5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 5rem; }
  @media (max-width: 85.375em) {
    .services-header {
      margin-bottom: 20rem; } }
  @media (max-width: 75em) {
    .services-header {
      margin-bottom: 15rem; } }
  @media (max-width: 70em) {
    .services-header {
      padding-bottom: 10rem; } }
  @media (max-width: 52.125em) {
    .services-header {
      padding-bottom: 25rem;
      margin-bottom: 0; } }
  @media (max-width: 37.5em) {
    .services-header {
      font-size: 4rem;
      font-weight: 300; } }

#portfolio {
  min-height: 50vh;
  background: #dcdde1; }

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; }

#clientele {
  min-height: 100vh;
  background: #dcdde1; }

.clientele-hero {
  text-align: center;
  font-size: 4rem;
  padding-top: 5rem;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 300; }
  @media (max-width: 37.5em) {
    .clientele-hero {
      font-size: 3rem;
      padding-top: 4rem; } }

#contact {
  min-height: 75vh;
  background: #A43931; }
  @media (min-width: 125em) {
    #contact {
      min-height: 55vh; } }
  @media (max-width: 85.375em) {
    #contact {
      min-height: 90vh; } }
  @media (max-width: 75em) {
    #contact {
      min-height: 50vh; } }
  @media (max-width: 70em) {
    #contact {
      min-height: 75vh; } }
  @media (max-width: 52.125em) {
    #contact {
      min-height: 60vh; } }
  @media (max-width: 64em) {
    #contact {
      min-height: 47vh; } }
  @media (max-width: 64em) and (max-height: 48em) {
    #contact {
      min-height: 80vh; } }

#footer {
  min-height: 30vh;
  background-color: #333333; }

.local-start {
  width: 70%;
  margin: auto;
  border-top: 1px solid #333333;
  border-left: none; }

.local-start:last-of-type {
  padding-bottom: 2rem;
  opacity: 0; }

#smart {
  min-height: 60vh; }

.smart-picture {
  width: 90%;
  border-radius: 2rem;
  text-align: center;
  display: block;
  margin: auto; }
  @media (max-width: 85.375em) {
    .smart-picture {
      width: 85%; } }
  @media (max-width: 52.125em) {
    .smart-picture {
      width: 80%; } }

.smart-container {
  margin-top: 13rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 85.375em) {
    .smart-container {
      padding-bottom: 7rem; } }
  @media (max-width: 80em) {
    .smart-container {
      flex-direction: column; } }
  @media (max-width: 75em) {
    .smart-container {
      flex-direction: column; } }

.smart-text {
  margin-right: 30rem; }
  @media (max-width: 85.375em) {
    .smart-text {
      margin-bottom: 8rem;
      text-align: center;
      padding-left: 5rem; } }
  @media (max-width: 80em) {
    .smart-text {
      margin-right: 0; } }
  @media (max-width: 64em) {
    .smart-text {
      margin-right: 0; } }
  @media (max-width: 37.5em) {
    .smart-text {
      padding-left: 0; } }

.smart-header {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 300; }
  @media (max-width: 17.5em) {
    .smart-header {
      font-size: 4rem; } }

.smart-header-bold {
  font-weight: 400; }

.smart-btn {
  text-align: center;
  display: inline-block;
  color: #000;
  font-size: 1.4rem;
  padding: .3rem .5rem .5rem .5rem;
  border-bottom: 0.2rem solid #000;
  transition: all .3s ease;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 3rem; }
  .smart-btn:hover {
    background-color: #000;
    color: #fff; }

.loading-screen {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: #A43931;
  width: 0%;
  height: 100%; }

.load-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  pointer-events: none; }

.navigation-bar {
  display: flex;
  padding-top: 1.8rem;
  justify-content: space-around;
  z-index: 5000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2.5rem 3rem;
  color: #fff; }
  .navigation-bar h2 {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: .7px;
    font-weight: bold; }
  .navigation-bar .earth {
    height: 2rem;
    margin-left: 1rem; }
  .navigation-bar div {
    display: flex;
    align-items: center;
    justify-content: center; }
  @media (max-width: 37.5em) {
    .navigation-bar {
      display: none; } }

.navigation-list {
  display: flex; }
  .navigation-list li a {
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 3rem;
    transition: all .3s ease-in-out;
    letter-spacing: .7px; }
    .navigation-list li a:hover {
      color: white; }

.scrolled-navigation {
  background-color: #dcdde1;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  text-transform: uppercase; }

.scrolled-navigation-text {
  color: rgba(0, 0, 0, 0.7) !important; }

.menu {
  position: fixed;
  right: 3%;
  top: 2%;
  cursor: pointer;
  z-index: 180;
  display: none; }
  @media (max-width: 37.5em) {
    .menu {
      display: block; } }

.menu-icon,
.close-icon {
  font-size: 3.5rem;
  cursor: pointer; }

.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  background: #333333;
  height: 6rem;
  width: 100%;
  z-index: 150;
  transition: all .4s ease-in-out; }
  @media (max-width: 37.5em) {
    .mobile-nav {
      display: block; } }
  .mobile-nav .mobile-nav-item {
    margin-bottom: 5rem; }

.mobile-navigation-list {
  display: flex;
  text-align: center;
  flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translateX(-54%);
  margin-top: 10rem;
  transition: all 400ms 100ms ease-in-out;
  opacity: 0;
  visibility: hidden; }
  .mobile-navigation-list li a {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 3rem;
    transition: all .3s ease-in-out;
    letter-spacing: 1.5px;
    padding-bottom: .5rem;
    border-bottom: 0.1rem solid #dcdde1; }
    .mobile-navigation-list li a:hover {
      color: white; }

.extended {
  height: 45rem; }

.text-appear {
  visibility: visible;
  opacity: 1; }

.btn {
  position: absolute;
  left: 50%;
  top: 170%;
  transform: translate(-50%, -50%);
  font-size: 1.6rem;
  background-color: #fbc531;
  padding: 2rem 4rem;
  border-radius: 4rem;
  color: #000;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .4s ease-in-out;
  box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, 0.5);
  display: block; }
  @media (max-width: 85.375em) {
    .btn {
      top: 150%; } }
  @media (max-width: 52.125em) {
    .btn {
      top: 130%; } }
  @media (max-width: 56em) and (max-height: 25.875em) {
    .btn {
      padding: 1.5rem 3rem; } }
  @media (max-width: 46em) and (max-height: 26em) {
    .btn {
      top: 150%; } }
  @media (max-width: 37.5em) {
    .btn {
      top: 150%; } }
  @media (max-width: 37.5em) {
    .btn {
      padding: 1.5rem 3rem;
      font-size: 1.1rem; } }
  .btn:hover {
    background-color: #fff; }
  .btn:active {
    box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -49%); }
  .btn:focus {
    background-color: #fff; }

.circular-text {
  position: fixed;
  top: 77.5%;
  left: 92%;
  color: rgba(255, 255, 255, 0);
  font-size: 1.7rem;
  font-weight: bolder;
  transition: 0.5s ease-out;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.6);
  z-index: 10;
  opacity: 0; }
  @media (min-width: 125em) {
    .circular-text {
      top: 79.5%; } }
  @media (max-width: 85.375em) {
    .circular-text {
      top: 72.7%;
      left: 91%; } }
  @media (max-width: 75em) {
    .circular-text {
      top: 82%;
      left: 91%; } }
  @media (max-width: 70em) {
    .circular-text {
      top: 76%; } }
  @media (max-width: 64em) {
    .circular-text {
      top: 85%;
      left: 89%; } }
  @media (max-width: 64em) and (max-height: 48em) {
    .circular-text {
      top: 75%; } }
  @media (max-width: 56.25em) {
    .circular-text {
      top: 82%;
      left: 89%; } }
  @media (max-width: 52.125em) {
    .circular-text {
      top: 82%;
      left: 87%; } }
  @media (max-width: 56em) and (max-height: 25.875em) {
    .circular-text {
      display: none; } }
  @media (max-width: 46em) and (max-height: 26em) {
    .circular-text {
      display: none; } }
  @media (max-width: 37.5em) {
    .circular-text {
      display: none; } }

.arrow {
  position: fixed;
  top: 87.4%;
  left: 92%;
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 0; }
  @media (max-width: 85.375em) {
    .arrow {
      top: 86.5%;
      left: 91%; } }
  @media (max-width: 75em) {
    .arrow {
      top: 89%;
      left: 91%; } }
  @media (max-width: 70em) {
    .arrow {
      top: 88%; } }
  @media (max-width: 64em) {
    .arrow {
      top: 92%;
      left: 89%; } }
  @media (max-width: 64em) and (max-height: 48em) {
    .arrow {
      top: 87.4%; } }
  @media (max-width: 56.25em) {
    .arrow {
      top: 88.8%;
      left: 89%; } }
  @media (max-width: 52.125em) {
    .arrow {
      top: 91%;
      left: 87.1%; } }
  @media (max-width: 46em) and (max-height: 26em) {
    .arrow {
      display: none; } }
  @media (max-width: 37.5em) {
    .arrow {
      display: none; } }

.arrow-up {
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(265deg) brightness(108%) contrast(101%);
  height: 3rem;
  cursor: pointer;
  transition: all .3s ease-in-out;
  animation: bounce 2s ease-in-out infinite; }
  .arrow-up:hover {
    filter: invert(91%) sepia(16%) saturate(3200%) hue-rotate(332deg) brightness(104%) contrast(97%); }
  .arrow-up:hover .circular-text {
    -webkit-text-stroke: 1px rgba(251, 197, 49, 0.6); }

@keyframes bounce {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-5px); }
  100% {
    transform: translateY(0); } }

.dark-background-scroll {
  -webkit-text-stroke: 1.2px rgba(0, 0, 0, 0.6) !important; }

.dark-arrow {
  filter: invert(0%) sepia(26%) saturate(13%) hue-rotate(318deg) brightness(99%) contrast(100%) !important; }

.mission-container {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 85.375em) {
    .mission-container {
      padding-bottom: 3rem; } }
  @media (max-width: 75em) {
    .mission-container {
      flex-direction: column; } }

.mission-photo-container {
  flex: 0 0 43%; }

.mission-photo {
  width: 100%;
  border-radius: 2rem;
  position: relative; }
  @media (max-width: 85.375em) {
    .mission-photo {
      width: 90%; } }
  @media (max-width: 75em) {
    .mission-photo {
      width: 50%;
      display: block;
      margin: 6rem auto; } }
  @media (max-width: 56.25em) {
    .mission-photo {
      width: 60%; } }
  @media (max-width: 37.5em) {
    .mission-photo {
      width: 65%; } }
  .mission-photo::after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: block;
    left: 0;
    width: 10rem;
    height: 10rem;
    content: "Fort Lauderdale Florida Ferrari Dealership";
    color: #dcdde1;
    font-size: 1.5rem;
    z-index: 50; }
  @media (max-width: 17.5em) {
    .mission-photo {
      width: 75%; } }

.mission-statement {
  flex: 0 0 50%;
  position: relative; }
  .mission-statement h3:last-of-type {
    margin-top: 2rem; }
  .mission-statement h3 {
    color: #dcdde1;
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px; }
    .mission-statement h3::after {
      display: block;
      height: 2px;
      background-color: #fbc531;
      content: "";
      width: 10rem;
      margin: 0 auto;
      margin-top: 1rem; }
  .mission-statement p {
    color: #dcdde1;
    font-size: 1.6rem;
    padding: 2rem 0;
    line-height: 1.8;
    hyphens: auto;
    width: 80%;
    text-align: center;
    margin: auto; }
    @media (max-width: 75em) {
      .mission-statement p {
        width: 60%; } }
    @media (max-width: 37.5em) {
      .mission-statement p {
        width: 70%; } }
    @media (max-width: 17.5em) {
      .mission-statement p {
        font-size: 1.4rem;
        width: 80%; } }

.about-us-link {
  text-align: center;
  display: inline-block;
  color: #fff;
  font-size: 1.6rem;
  padding: .3rem .5rem .5rem .5rem;
  border-bottom: .2rem solid #fff;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  transition: all .3s ease;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px; }
  .about-us-link:hover {
    background-color: #fff;
    color: #000; }
  @media (max-width: 17.5em) {
    .about-us-link {
      font-size: 1.2rem;
      width: 45%; } }

.arrow-right {
  font-size: 1.5rem;
  margin-left: .3rem; }

.card-container {
  margin-top: -20rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr; }
  @media (min-width: 125em) {
    .card-container {
      margin-top: -30rem; } }
  @media (max-width: 85.375em) {
    .card-container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-column-gap: 2rem;
      grid-row-gap: 3rem; } }
  @media (max-width: 75em) {
    .card-container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-column-gap: 2rem;
      grid-row-gap: 3rem; } }
  @media (max-width: 52.125em) {
    .card-container {
      grid-column-gap: 0rem;
      grid-row-gap: 5rem; } }

.card {
  background: rgba(51, 51, 51, 0.8);
  margin-left: 3rem;
  color: #dcdde1;
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  align-items: center;
  padding: 1rem 2rem;
  font-family: 'Lato';
  transition: all .4s ease-out; }
  .card-icon {
    height: 7rem;
    filter: invert(84%) sepia(45%) saturate(2894%) hue-rotate(0deg) brightness(104%) contrast(106%);
    margin: 3rem 0rem; }
  .card-header {
    font-size: 1.7rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-family: 700;
    color: #fff;
    text-align: center;
    padding-top: 4rem;
    letter-spacing: 2px; }
  .card-paragraph {
    font-size: 1.5rem;
    padding: 3rem 3rem;
    text-align: center;
    padding-bottom: 4rem; }
  .card:hover {
    transform: scale(1.05); }
  @media (max-width: 85.375em) {
    .card {
      padding: 0rem 0rem;
      margin: 0;
      width: 50rem;
      height: 35rem; } }
  @media (max-width: 75em) {
    .card {
      padding: 0rem 0rem;
      margin: 0;
      width: 50rem; } }
  @media (max-width: 37.5em) {
    .card {
      width: 30rem; } }
  @media (max-width: 17.5em) {
    .card {
      width: 24rem;
      height: 40rem; } }

@media (max-width: 85.375em) {
  .card-container {
    margin-bottom: 5rem; } }

@media (max-width: 70em) {
  .card-container {
    margin-bottom: 7rem; } }

@media (max-width: 52.125em) {
  .card-container {
    margin-bottom: 8rem; } }

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 400px 400px;
  grid-gap: 0; }
  @media (max-width: 75em) {
    .portfolio-grid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 400px); } }
  @media (max-width: 37.5em) {
    .portfolio-grid {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(8, 400px); } }

.portfolio-figure {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden; }

.portfolio-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: saturate(0.4);
  transition: all .2s ease-in-out; }
  .portfolio-image:hover {
    filter: saturate(1); }

.client {
  justify-content: space-between;
  display: block;
  display: flex;
  margin: 5rem auto;
  max-width: 40rem;
  position: relative;
  align-items: center; }
  .client:first-of-type {
    margin-top: 5rem; }
  .client p {
    font-size: 1.8rem; }
    @media (max-width: 17.5em) {
      .client p {
        font-size: 1.4rem; } }
  .client::after {
    left: 50%;
    top: 180%;
    position: absolute;
    display: block;
    height: 2px;
    background-color: #000;
    content: "";
    width: 40rem;
    transform: translateX(-50%); }
    @media (max-width: 37.5em) {
      .client::after {
        width: 35rem; } }
    @media (max-width: 17.5em) {
      .client::after {
        width: 27rem; } }
  @media (max-width: 37.5em) {
    .client {
      max-width: 35rem; } }
  @media (max-width: 17.5em) {
    .client {
      width: 27.5rem; } }

.international {
  -webkit-text-stroke: 1.3px #000;
  color: transparent;
  font-size: 2.5rem;
  transform: rotate(90deg);
  position: absolute;
  right: 14.5%;
  top: 20%; }
  @media (max-width: 52.125em) {
    .international {
      right: 10%; } }
  @media (max-width: 37.5em) {
    .international {
      position: static;
      left: 0;
      top: 0;
      transform: rotate(0deg);
      text-align: center;
      padding: 2rem 0rem 0rem 0rem; } }

.local {
  -webkit-text-stroke: 1.3px #000;
  color: transparent;
  font-size: 2.5rem;
  transform: rotate(90deg);
  position: absolute;
  right: 18%;
  top: 60%; }
  @media (max-width: 37.5em) {
    .local {
      position: static;
      left: 0;
      top: 0;
      transform: rotate(0deg);
      text-align: center;
      padding: 2rem 0rem 0rem 0rem; } }

.touch {
  text-align: center;
  padding-top: 7rem;
  font-size: 5rem;
  color: #dcdde1;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 5rem; }
  @media (max-width: 37.5em) {
    .touch {
      font-weight: 300; } }
  @media (max-width: 17.5em) {
    .touch {
      font-size: 3rem; } }

.contact-secondary {
  text-align: center;
  font-size: 1.6rem;
  color: #fff; }

.field {
  text-align: center; }

.name,
.email,
.message {
  width: 50%;
  margin-bottom: 4rem;
  padding: 2rem 3rem;
  border: none;
  background: none;
  border-bottom: 2px #fff solid; }
  .name:invalid,
  .email:invalid,
  .message:invalid {
    border-bottom: 2px #c0392b solid; }
  @media (max-width: 37.5em) {
    .name,
    .email,
    .message {
      width: 60%;
      padding: 3rem 3rem; } }

.name::-webkit-input-placeholder,
.email::-webkit-input-placeholder,
.message::-webkit-input-placeholder {
  text-align: center;
  font-size: 1.6rem;
  font-family: 'Lato';
  color: #fff;
  line-height: 3;
  padding: 2rem 3rem;
  overflow: visible; }
  @media (max-width: 52.125em) {
    .name::-webkit-input-placeholder,
    .email::-webkit-input-placeholder,
    .message::-webkit-input-placeholder {
      font-size: 1.3rem;
      transform: translateY(-3rem); } }
  @media (max-width: 64em) and (max-height: 48em) {
    .name::-webkit-input-placeholder,
    .email::-webkit-input-placeholder,
    .message::-webkit-input-placeholder {
      padding: 2rem 3rem;
      font-size: 1rem;
      transform: translateY(-1.8rem); } }
  @media (max-width: 37.5em) {
    .name::-webkit-input-placeholder,
    .email::-webkit-input-placeholder,
    .message::-webkit-input-placeholder {
      padding: 2rem 3rem;
      font-size: 1rem;
      transform: translateY(-1.8rem); } }

.form-btn {
  width: 20%;
  padding: 1rem 2rem;
  border: none;
  font-size: 1.6rem;
  background-color: #fff;
  cursor: pointer;
  transition: all .3s ease-in-out;
  box-shadow: 1rem 1rem 30rem rgba(0, 0, 0, 0.5); }
  .form-btn:hover {
    background-color: #333333;
    color: #fff; }
  .form-btn:active {
    box-shadow: 0.3rem 0.3rem 7rem rgba(0, 0, 0, 0.5); }
  .form-btn:focus {
    background-color: #333333;
    color: #fff; }
  @media (max-width: 37.5em) {
    .form-btn {
      width: 50%; } }

.form {
  padding-top: 4rem;
  padding-bottom: 2rem; }
  @media (max-width: 52.125em) {
    .form {
      padding-bottom: 5rem; } }

.nav-bar-icons {
  color: #fff;
  font-size: 2rem;
  margin-left: .5rem;
  opacity: .6;
  transition: all .3s ease; }

.nav-bar-icons:hover {
  opacity: 1; }

.twitter-icon:hover {
  opacity: 1;
  color: #00acee; }

.facebook-icon:hover {
  opacity: 1;
  color: #3b5998; }

.instagram-icon:hover {
  opacity: 1;
  color: #e1306c; }

.github-icon:hover {
  opacity: 1; }

.linkedin-icon:hover {
  opacity: 1;
  color: #0e76a8; }

.mail-icon:hover {
  opacity: 1;
  color: #B23121; }

.nav-list {
  display: flex; }

.nav-list-item {
  margin-right: 5rem;
  font-size: 1.6rem; }

.nav-link {
  color: #dfe6e9;
  transition: all .3s ease;
  opacity: .6; }

.nav-link:hover {
  opacity: 1;
  color: #00b894; }

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 114rem;
  margin: 0 auto;
  text-align: center; }
  @media (max-width: 75em) {
    .footer-container {
      max-width: 100rem; } }
  @media (max-width: 64em) {
    .footer-container {
      max-width: 85rem; } }
  @media (max-width: 56.25em) {
    .footer-container {
      max-width: 75rem; } }
  @media (max-width: 52.125em) {
    .footer-container {
      max-width: 70rem; } }
  @media (max-width: 37.5em) {
    .footer-container {
      max-width: 60rem;
      flex-direction: column;
      align-items: center; } }

.footer-container ul:first-of-type li a {
  font-size: 1.4rem; }
  @media (max-width: 17.5em) {
    .footer-container ul:first-of-type li a {
      font-size: 1.2rem; } }

.footer-container ul {
  list-style: none;
  display: flex;
  margin-top: 3rem;
  font-size: 2rem; }
  @media (max-width: 17.5em) {
    .footer-container ul {
      font-size: 1rem; } }

.footer-container ul li {
  margin-left: 1rem;
  color: #fff;
  font-size: 1rem; }

.footer-container ul li a {
  color: #fff;
  opacity: 0.5;
  transition: all 0.2s; }

.footer-container ul li a:hover {
  opacity: 1; }

.footer-container p {
  font-size: 1rem; }

#copyright {
  font-size: 1rem;
  text-align: center;
  margin-top: 2rem;
  opacity: 0.5;
  color: #fff;
  font-size: 1.6rem;
  margin-bottom: 1rem; }
  @media (max-width: 17.5em) {
    #copyright {
      font-size: 1.4rem; } }

ion-icon {
  font-size: 2rem; }

.footer-info {
  text-align: center;
  margin-top: .8rem;
  font-size: 1.2rem;
  color: #fff;
  opacity: .5; }
  @media (max-width: 17.5em) {
    .footer-info {
      font-size: 1rem; } }

.about-us-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem; }
  @media (max-width: 70em) {
    .about-us-navigation {
      justify-content: space-around; } }
  @media (max-width: 37.5em) {
    .about-us-navigation {
      padding-top: 2.5rem; } }

.wise-logo-nav {
  width: 40%; }

.about-us-navigation-item {
  font-size: 1.6rem;
  color: #000;
  text-transform: uppercase;
  transition: all .3s ease-in-out; }
  .about-us-navigation-item:hover {
    border-bottom: 0.3rem solid #000; }

.about-hero-text {
  font-weight: 300;
  text-shadow: none;
  font-size: 5.5rem;
  padding-top: 13rem;
  letter-spacing: 2px;
  margin-bottom: 10rem;
  font-size: 6rem;
  text-transform: uppercase;
  animation: fadein forwards 1s ease;
  text-align: center; }
  @media (max-width: 85.375em) {
    .about-hero-text {
      padding-top: 8rem;
      margin-bottom: 4rem;
      font-size: 5rem; } }
  @media (max-width: 64em) {
    .about-hero-text {
      padding-top: 15rem; } }
  @media (max-width: 56em) and (max-height: 25.875em) {
    .about-hero-text {
      padding-top: 2rem;
      font-size: 3rem;
      margin-bottom: 1.5rem; } }
  @media (max-width: 46em) and (max-height: 26em) {
    .about-hero-text {
      padding-top: 2rem;
      font-size: 3rem;
      margin-bottom: 1.5rem; } }
  @media (max-width: 37.5em) {
    .about-hero-text {
      padding-top: 4rem;
      font-size: 3.2rem; } }
  @media (max-width: 23.125em) {
    .about-hero-text {
      font-size: 2.5rem;
      margin-bottom: 2rem; } }
  @media (max-width: 17.5em) {
    .about-hero-text {
      font-size: 2rem; } }

#about-us {
  min-height: 100vh;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover; }

.about-row {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .about-row-info {
    font-size: 1.6rem;
    line-height: 1.6;
    width: 60ch;
    text-align: center; }
  .about-row-image {
    width: 40%; }

.header-info-container {
  display: flex;
  justify-content: center; }

.header-info {
  text-align: center;
  width: 60%;
  font-size: 1.7rem;
  line-height: 1.7; }
  @media (max-width: 56em) and (max-height: 25.875em) {
    .header-info {
      width: 90%;
      font-size: 1.5rem; } }
  @media (max-width: 46em) and (max-height: 26em) {
    .header-info {
      width: 90%;
      font-size: 1.5rem; } }
  @media (max-width: 37.5em) {
    .header-info {
      width: 80%;
      font-size: 1.5rem; } }
  @media (max-width: 23.125em) {
    .header-info {
      width: 90%;
      font-size: 1.5rem; } }
  @media (max-width: 17.5em) {
    .header-info {
      font-size: 1.4rem; } }
  .header-info::after {
    display: block;
    height: 2px;
    background-color: #000;
    content: "";
    width: 30rem;
    margin: 0 auto;
    margin-top: 3.5rem; }
    @media (max-width: 37.5em) {
      .header-info::after {
        width: 15rem; } }
    @media (max-width: 23.125em) {
      .header-info::after {
        width: 10rem; } }

.scroll-down-button-container {
  display: flex;
  justify-content: center; }

.scroll-down-image {
  filter: invert(0%) sepia(13%) saturate(7492%) hue-rotate(122deg) brightness(89%) contrast(97%);
  height: 3rem;
  opacity: .9;
  animation: bounce 3s ease-in-out infinite;
  transition: all .3s ease-in-out; }
  .scroll-down-image:hover {
    opacity: 1; }

.scroll-down-button {
  background: transparent;
  border: none;
  position: absolute;
  cursor: pointer;
  top: 140%; }
  @media (max-width: 85.375em) {
    .scroll-down-button {
      top: 120%; } }
  @media (max-width: 46em) and (max-height: 26em) {
    .scroll-down-button {
      top: 105%; } }
  @media (max-width: 37.5em) {
    .scroll-down-button {
      top: 105%; } }

#about {
  min-height: 100vh;
  background-color: #333333; }

.timeline {
  width: 80rem;
  margin: auto;
  padding-top: 6rem;
  padding-bottom: 5rem; }
  @media (max-width: 48em) {
    .timeline {
      width: 70rem; } }
  @media (max-width: 37.5em) {
    .timeline {
      width: 40rem; } }
  @media (max-width: 23.125em) {
    .timeline {
      width: 35rem; } }
  @media (max-width: 17.5em) {
    .timeline {
      width: 29rem; } }

.timeline li {
  position: relative;
  list-style: none; }

.timeline li .item {
  position: relative;
  min-height: 6rem;
  padding: 0 2rem 3rem;
  margin-left: 2rem;
  border-left: 0.2rem solid #fff; }
  .timeline li .item::after {
    display: block;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.2);
    content: "";
    width: 20rem;
    margin: 0 auto;
    margin-top: 3.5rem; }

.timeline li:last-child .item {
  border-left: .1rem solid transparent; }

.timeline li .item span {
  position: absolute;
  top: -.8rem;
  left: -2rem;
  width: 4rem;
  height: 4rem;
  text-align: center;
  color: #000;
  line-height: 4rem;
  border-radius: 50%;
  background-color: #fff;
  font-size: 2.2rem; }
  @media (max-width: 37.5em) {
    .timeline li .item span {
      font-size: 2rem; } }

.timeline li .item h3,
.timeline li .item p {
  color: #fff;
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-left: 1rem; }

.timeline li .item h3 {
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  margin-bottom: 1rem; }

.about-header {
  font-weight: 100;
  font-size: 5rem;
  text-align: center;
  padding-top: 5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 5rem;
  color: #fff; }
  @media (max-width: 37.5em) {
    .about-header {
      font-size: 3rem;
      font-weight: 300; } }

.smart-home-link {
  color: #fff;
  transition: all .3s ease-in-out; }
  .smart-home-link:hover {
    border-bottom: #fff 0.2rem solid;
    padding-bottom: .2rem; }

#team {
  min-height: 70vh;
  background-color: #dcdde1; }
  @media (max-width: 64em) {
    #team {
      min-height: 50vh; } }
  @media (max-width: 52.125em) {
    #team {
      min-height: 60vh; } }
  @media (max-width: 37.5em) {
    #team {
      min-height: 60vh; } }

.team-header {
  color: #000;
  font-weight: 300;
  margin-bottom: 7rem;
  padding-top: 5rem; }
  @media (max-width: 37.5em) {
    .team-header {
      font-size: 4rem; } }

.about-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(51, 51, 51, 0.9);
  border-radius: .5rem;
  align-items: center;
  font-family: 'Lato';
  transition: all .4s ease-out;
  width: 35rem;
  height: 40rem;
  margin-right: 2rem; }
  .about-card-header {
    font-size: 1.9rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-family: 700;
    color: #fff;
    text-align: center;
    padding-top: 4rem;
    letter-spacing: 2px; }
  .about-card-paragraph {
    font-size: 1.6rem;
    padding: 3rem 3rem;
    text-align: center;
    padding-bottom: 4rem;
    color: #fff; }
  .about-card-logo {
    text-align: center; }
  .about-card-icon {
    width: 25%;
    text-align: center;
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(204deg) brightness(106%) contrast(101%); }
  @media (max-width: 64em) {
    .about-card {
      margin-left: .3rem;
      margin-right: .3rem; } }
  @media (max-width: 37.5em) {
    .about-card {
      margin-right: .2rem; } }

.glider {
  margin-bottom: 2rem; }

.glider-prev {
  transform: translateX(-2rem);
  cursor: pointer; }
  @media (max-width: 85.375em) {
    .glider-prev {
      transform: translateX(-0.8rem) scale(0.7); } }

.glider-next {
  transform: translateX(2rem);
  cursor: pointer; }
  @media (max-width: 85.375em) {
    .glider-next {
      transform: translateX(0.8rem) scale(0.7); } }

#partners {
  min-height: 65vh;
  background: #333333; }
  @media (min-width: 125em) {
    #partners {
      min-height: 55vh; } }
  @media (max-width: 85.375em) {
    #partners {
      min-height: 70vh; } }

.partner-wise-logo,
.partner-wise-info {
  text-align: center;
  color: #fff; }

.partner-wise-logo {
  margin-bottom: .5rem;
  font-size: 12rem;
  font-weight: 400;
  padding-top: 5rem;
  letter-spacing: 2px; }
  @media (max-width: 85.375em) {
    .partner-wise-logo {
      font-size: 9rem; } }
  @media (max-width: 37.5em) {
    .partner-wise-logo {
      font-size: 7rem; } }

.partner-wise-info {
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-bottom: 5rem; }
  @media (max-width: 64em) {
    .partner-wise-info {
      margin-bottom: 10rem; } }

.partner-logos {
  height: 12rem; }
  @media (max-width: 64em) {
    .partner-logos {
      margin-bottom: 3rem; } }
  @media (max-width: 85.375em) {
    .partner-logos {
      height: 10rem; } }
  @media (max-width: 37.5em) {
    .partner-logos {
      height: 8rem; } }

@media (max-width: 64em) {
  .remax {
    transform: translateX(2rem); } }

.partner-logo-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly; }
  @media (max-width: 64em) {
    .partner-logo-container {
      flex-direction: column; } }

.landmark {
  transform: translateX(-2rem); }
  @media (max-width: 64em) {
    .landmark {
      transform: translateX(0); } }

#contact-us {
  min-height: 75vh;
  background-color: #dcdde1; }
  @media (min-width: 125em) {
    #contact-us {
      min-height: 55vh; } }
  @media (max-width: 85.375em) {
    #contact-us {
      min-height: 90vh; } }
  @media (max-width: 75em) {
    #contact-us {
      min-height: 50vh; } }
  @media (max-width: 70em) {
    #contact-us {
      min-height: 75vh; } }
  @media (max-width: 52.125em) {
    #contact-us {
      min-height: 60vh; } }
  @media (max-width: 64em) {
    #contact-us {
      min-height: 47vh; } }
  @media (max-width: 64em) and (max-height: 48em) {
    #contact-us {
      min-height: 80vh; } }

.contact-us-header {
  text-align: center;
  padding-top: 7rem;
  font-size: 5rem;
  color: #333333;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 5rem; }

.about-us-field {
  text-align: center; }

.about-us-name,
.about-us-email,
.about-us-message {
  width: 50%;
  margin-bottom: 4rem;
  padding: 2rem 3rem;
  border: none;
  background: none;
  border-bottom: 2px #333333 solid; }
  @media (max-width: 37.5em) {
    .about-us-name,
    .about-us-email,
    .about-us-message {
      width: 60%;
      padding: 3rem 3rem; } }

.about-us-name::-webkit-input-placeholder,
.about-us-email::-webkit-input-placeholder,
.about-us-message::-webkit-input-placeholder {
  text-align: center;
  font-size: 1.6rem;
  font-family: 'Lato';
  color: #333333;
  line-height: 3;
  padding: 2rem 3rem;
  overflow: visible; }
  @media (max-width: 52.125em) {
    .about-us-name::-webkit-input-placeholder,
    .about-us-email::-webkit-input-placeholder,
    .about-us-message::-webkit-input-placeholder {
      font-size: 1.3rem;
      transform: translateY(-4rem); } }
  @media (max-width: 64em) and (max-height: 48em) {
    .about-us-name::-webkit-input-placeholder,
    .about-us-email::-webkit-input-placeholder,
    .about-us-message::-webkit-input-placeholder {
      padding: 2rem 3rem;
      font-size: 1rem;
      transform: translateY(-1.8rem); } }
  @media (max-width: 37.5em) {
    .about-us-name::-webkit-input-placeholder,
    .about-us-email::-webkit-input-placeholder,
    .about-us-message::-webkit-input-placeholder {
      padding: 2rem 3rem;
      font-size: 1rem;
      transform: translateY(-1.8rem); } }

#home-smart {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../img/signatureDesktopHeroImage.jpg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  min-height: 100vh;
  color: #fff;
  background-attachment: fixed;
  position: relative; }
  @media (max-width: 90) and (max-height: 56.25) {
    #home-smart {
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../img/signaturemacbook15HeroImage.jpg); } }
  @media (max-width: 85.375em) {
    #home-smart {
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../img/signaturelaptopHeroImage.jpg); } }
  @media (max-width: 75em) {
    #home-smart {
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../img/signaturetabletHeroImage.jpg); } }
  @media (max-width: 70em) {
    #home-smart {
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../img/signaturetabletLandscapeHeroImage.jpg); } }
  @media (max-width: 64em) {
    #home-smart {
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../img/signatureIPadProHeroImage.jpg); } }
  @media (max-width: 46em) and (max-height: 26em) {
    #home-smart {
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../img/signatureIPhone7PlusLandscapeHeroImage.jpg); } }
  @media (max-width: 25.875em) {
    #home-smart {
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../img/signature7PlusHeroImage.jpg); } }
  @media (max-width: 25.875em) and (max-height: 56em) {
    #home-smart {
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../img/signatureIPhoneXSMAXHeroImage.jpg); } }
  @media (max-width: 23.4375em) and (max-height: 50.75em) {
    #home-smart {
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../img/signatureIPhoneXHeroImage.jpg); } }

.smart-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem; }
  @media (max-width: 70em) {
    .smart-navigation {
      justify-content: space-around; } }
  @media (max-width: 37.5em) {
    .smart-navigation {
      padding-top: 2.5rem; } }

.smart-logo-nav {
  width: 40%; }

.smart-navigation-item {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  transition: all .3s ease-in-out; }
  .smart-navigation-item:hover {
    border-bottom: 0.3rem solid rgba(255, 255, 255, 0.8); }

.smart-text-header {
  font-size: 6rem;
  text-align: center; }

.signature-header {
  color: #dcdde1;
  text-align: center;
  font-size: 5.5rem;
  padding-top: 10rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 5rem;
  animation: fadein forwards 1s ease; }
  @media (min-width: 125em) {
    .signature-header {
      font-size: 7rem;
      padding-top: 10rem; } }
  @media (max-width: 56em) and (max-height: 25.875em) {
    .signature-header {
      font-size: 5rem;
      padding-top: 5rem; } }
  @media (max-width: 46em) and (max-height: 26em) {
    .signature-header {
      font-size: 4.5rem;
      padding-top: 5rem; } }
  @media (max-width: 17.5em) {
    .signature-header {
      font-size: 3rem; } }

.signature-info {
  text-align: center;
  animation: fadein forwards 1s ease;
  font-size: 2rem;
  font-weight: 400;
  color: #dcdde1; }
  @media (max-width: 17.5em) {
    .signature-info {
      font-size: 1.5rem; } }

#features {
  min-height: 100vh;
  background-color: #333333; }

.signature-scroll-container {
  display: flex;
  justify-content: center; }

.signature-scroll-down-image {
  filter: invert(100%) sepia(0%) saturate(6259%) hue-rotate(7deg) brightness(117%) contrast(73%);
  animation: bounce 3s ease-in-out infinite;
  height: 3rem; }

.signature-scroll-button {
  background: transparent;
  border: none;
  position: absolute;
  cursor: pointer;
  top: 240%; }
  @media (max-width: 56em) and (max-height: 25.875em) {
    .signature-scroll-button {
      top: 130%; } }
  @media (max-width: 46em) and (max-height: 26em) {
    .signature-scroll-button {
      top: 130%; } }
  @media (max-width: 37.5em) {
    .signature-scroll-button {
      top: 150%; } }

.feature {
  margin: 0rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(115, 186, 76, 0.9);
  border-radius: .5rem;
  align-items: center;
  font-family: 'Lato';
  transition: all .4s ease-out;
  width: 35rem;
  height: 40rem;
  margin-bottom: 5rem; }
  .feature-header {
    font-size: 2.3rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-family: 700;
    color: #000;
    text-align: center;
    letter-spacing: 1.2px; }
  .feature-paragraph {
    font-size: 1.6rem;
    padding: 3rem 3rem;
    text-align: center;
    padding-bottom: 2rem;
    color: #000;
    letter-spacing: .7px; }
  .feature-logo {
    text-align: center; }
  .feature-icon {
    width: 25%;
    text-align: center;
    filter: invert(0%) sepia(6%) saturate(7476%) hue-rotate(257deg) brightness(93%) contrast(107%);
    opacity: .9; }
  @media (max-width: 17.5em) {
    .feature {
      width: 25rem; } }

.feature:last-of-type {
  margin-bottom: 0rem; }

.feature-container {
  padding-bottom: 7rem; }

.feature-hero-text {
  text-align: center;
  color: #dcdde1;
  font-size: 5rem;
  font-weight: 300;
  padding-top: 5rem;
  margin-bottom: 10rem;
  text-transform: uppercase; }

#smart-home-feature {
  min-height: 100vh;
  background: #fdfdfc; }

.house-features {
  width: 70%; }
  @media (max-width: 52.125em) {
    .house-features {
      width: 85%; } }

.house-image-container {
  margin: auto;
  text-align: center; }

.smart-home-features-header {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 4.5rem;
  padding-top: 5rem;
  font-weight: 300;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 2px; }

.feature-list-item {
  justify-content: center;
  display: block;
  display: flex;
  margin: 5rem auto;
  max-width: 30rem;
  position: relative;
  align-items: center; }
  .feature-list-item:first-of-type {
    margin-top: 5rem; }
  .feature-list-item p {
    font-size: 1.8rem; }
  .feature-list-item::after {
    left: 50%;
    top: 180%;
    position: absolute;
    display: block;
    height: 2px;
    background-color: #73ba4c;
    content: "";
    width: 25rem;
    transform: translateX(-50%); }
    @media (max-width: 37.5em) {
      .feature-list-item::after {
        width: 35rem; } }
  @media (max-width: 37.5em) {
    .feature-list-item {
      max-width: 30rem; } }

.feature-hr {
  border: #73ba4c solid 0.2rem;
  border-bottom: none;
  border-left: none;
  border-right: none;
  padding-bottom: 5rem;
  width: 50%;
  margin: auto; }

.feature-btn-container {
  text-align: center;
  padding: 5rem 0 7rem 0rem; }

.feature-btn {
  font-size: 1.6rem;
  border-radius: 5rem;
  color: #000;
  background-color: #73ba4c;
  padding: 2rem 4rem;
  transition: all .3s ease-in-out; }
  .feature-btn:hover {
    background-color: #333333;
    color: #dcdde1; }

#feature-contact-us {
  min-height: 75vh;
  background-color: #dcdde1; }
  @media (min-width: 125em) {
    #feature-contact-us {
      min-height: 55vh; } }
  @media (max-width: 85.375em) {
    #feature-contact-us {
      min-height: 90vh; } }
  @media (max-width: 75em) {
    #feature-contact-us {
      min-height: 50vh; } }
  @media (max-width: 70em) {
    #feature-contact-us {
      min-height: 75vh; } }
  @media (max-width: 52.125em) {
    #feature-contact-us {
      min-height: 60vh; } }
  @media (max-width: 64em) {
    #feature-contact-us {
      min-height: 47vh; } }
  @media (max-width: 64em) and (max-height: 48em) {
    #feature-contact-us {
      min-height: 80vh; } }

.feature-form-header {
  text-align: center;
  padding-top: 7rem;
  font-size: 5rem;
  color: #000;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 5rem; }

.feature-field {
  text-align: center; }

.feature-name,
.feature-email,
.feature-message {
  width: 50%;
  margin-bottom: 4rem;
  padding: 2rem 3rem;
  border: none;
  background: none;
  border-bottom: 2px #000 solid; }
  @media (max-width: 37.5em) {
    .feature-name,
    .feature-email,
    .feature-message {
      width: 60%;
      padding: 3rem 3rem; } }

.feature-name::-webkit-input-placeholder,
.feature-email::-webkit-input-placeholder,
.feature-message::-webkit-input-placeholder {
  text-align: center;
  font-size: 1.6rem;
  font-family: 'Lato';
  color: #333333;
  line-height: 3;
  padding: 2rem 3rem;
  overflow: visible; }
  @media (max-width: 52.125em) {
    .feature-name::-webkit-input-placeholder,
    .feature-email::-webkit-input-placeholder,
    .feature-message::-webkit-input-placeholder {
      font-size: 1.3rem;
      transform: translateY(-4rem); } }
  @media (max-width: 64em) and (max-height: 48em) {
    .feature-name::-webkit-input-placeholder,
    .feature-email::-webkit-input-placeholder,
    .feature-message::-webkit-input-placeholder {
      padding: 2rem 3rem;
      font-size: 1rem;
      transform: translateY(-1.8rem); } }
  @media (max-width: 37.5em) {
    .feature-name::-webkit-input-placeholder,
    .feature-email::-webkit-input-placeholder,
    .feature-message::-webkit-input-placeholder {
      padding: 2rem 3rem;
      font-size: 1rem;
      transform: translateY(-1.8rem); } }

#freq-home {
  min-height: 100vh;
  background-color: #333333; }

.freq-hero-text {
  font-size: 4rem;
  color: #dcdde1;
  text-align: center;
  font-weight: 300;
  padding-top: 10rem; }
  @media (max-width: 37.5em) {
    .freq-hero-text {
      font-size: 3rem; } }

.freq-scroll-button-container {
  text-align: center; }

.freq-scroll-container {
  display: flex;
  justify-content: center; }

.freq-scroll-down-image {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(310deg) brightness(104%) contrast(102%);
  animation: bounce 3s ease-in-out infinite;
  transition: all .3s ease-in-out;
  height: 3rem; }

.freq-scroll-button {
  background: transparent;
  border: none;
  position: absolute;
  cursor: pointer;
  top: 85%; }

#freq {
  min-height: 100vh;
  background-color: #dcdde1; }

.freq-header {
  text-align: center;
  color: #333333;
  font-size: 2.5rem;
  font-weight: 300;
  padding-top: 5rem;
  text-transform: uppercase;
  margin-bottom: 2rem; }
  @media (min-width: 125em) {
    .freq-header {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .freq-header {
      font-size: 1.7rem; } }

.freq-paragraph {
  color: #000;
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: .3rem;
  text-align: center; }
  @media (min-width: 125em) {
    .freq-paragraph {
      font-size: 2rem; } }
  @media (max-width: 85.375em) {
    .freq-paragraph {
      width: 80%;
      margin: auto; } }
  @media (max-width: 37.5em) {
    .freq-paragraph {
      font-size: 1.3rem; } }
  .freq-paragraph a {
    color: #000;
    text-decoration: underline; }

.freq-paragraph:last-of-type {
  padding-bottom: 5rem; }

#faq-home {
  min-height: 100vh;
  background-color: #333333; }

#faq {
  min-height: 100vh;
  background-color: #dcdde1; }

.faq-hero-text {
  text-align: center;
  color: #dcdde1;
  font-size: 5rem;
  padding-top: 10rem;
  font-weight: 300;
  margin-bottom: 7rem; }
  @media (max-width: 46em) and (max-height: 26em) {
    .faq-hero-text {
      padding-top: 5rem;
      margin-bottom: 4rem; } }
  @media (max-width: 17.5em) {
    .faq-hero-text {
      font-size: 3.5rem; } }

.faq-hero-paragraph {
  text-align: center;
  color: #dcdde1;
  font-size: 1.7em;
  width: 75ch;
  margin: auto;
  line-height: 1.5; }
  @media (max-width: 52.125em) {
    .faq-hero-paragraph {
      width: 65ch; } }
  @media (max-width: 37.5em) {
    .faq-hero-paragraph {
      width: 35ch; } }
  @media (max-width: 17.5em) {
    .faq-hero-paragraph {
      width: 25ch;
      font-size: 1.4rem; } }

.faq-scroll-container {
  display: flex;
  justify-content: center; }

.faq-scroll-down-image {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(310deg) brightness(104%) contrast(102%);
  animation: bounce 3s ease-in-out infinite;
  transition: all .3s ease-in-out;
  height: 3rem; }

.faq-scroll-button {
  background: transparent;
  border: none;
  position: absolute;
  cursor: pointer;
  top: 85%; }

.faq-header {
  text-align: center;
  color: #333333;
  font-size: 3.5rem;
  font-weight: 300;
  padding-top: 5rem;
  text-transform: uppercase;
  margin-bottom: 5rem; }
  @media (max-width: 37.5em) {
    .faq-header {
      font-size: 2.5rem; } }
  @media (max-width: 17.5em) {
    .faq-header {
      font-size: 2.2rem; } }

.faq-paragraph {
  color: #000;
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: .3rem; }
  @media (max-width: 85.375em) {
    .faq-paragraph {
      width: 80%;
      margin: auto; } }
  @media (max-width: 37.5em) {
    .faq-paragraph {
      font-size: 1.3rem;
      width: 85%; } }

.faq-paragraph:last-of-type {
  padding-bottom: 5rem; }
