@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
.margin-bottom-xs {
  margin-bottom: 1rem; }

.margin-bottom-sm {
  margin-bottom: 2rem; }

.margin-bottom-md {
  margin-bottom: 5rem; }

.margin-bottom-lg {
  margin-bottom: 8rem; }

.margin-bottom-xl {
  margin-bottom: 10rem; }

.margin-bottom-xxl {
  margin-bottom: 13rem; }

.margin-top-xs {
  margin-top: 1rem; }

.margin-top-sm {
  margin-top: 2rem; }

.margin-top-md {
  margin-top: 5rem; }

.margin-top-lg {
  margin-top: 8rem; }

.margin-top-xl {
  margin-top: 10rem; }

.margin-top-xxl {
  margin-top: 13rem; }

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-6rem); }
  to {
    opacity: 1;
    transform: translateY(0); } }

.fade-in-laptop {
  opacity: 0;
  transition: opacity 250ms ease-in; }

.fade-in-laptop.appear {
  opacity: 1; }

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in; }

.fade-in.appear {
  opacity: 1; }

.from-left {
  transform: translateX(-50%); }

.from-right {
  transform: translateX(50%); }

.from-left,
.from-right {
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  opacity: 0; }

.from-left.translate,
.from-right.translate {
  transform: translateX(0);
  opacity: 1; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden; }

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.container {
  max-width: 130rem;
  margin: 0px auto;
  position: relative; }

*:focus {
  outline: none; }

::selection {
  background-color: #dcdde1; }

body::-webkit-scrollbar {
  width: 1rem; }

body::-webkit-scrollbar-track {
  background-color: #2d3436; }

body::-webkit-scrollbar-thumb {
  background-color: #fbc531;
  border-radius: 2rem;
  border: #2d3436 3px solid; }

#home {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../img/heroImage.jpg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
  color: #fff;
  position: relative; }
  @media (max-width: 75em) {
    #home {
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../img/tabletHeroImage.jpg); } }
  @media (max-width: 52.125em) {
    #home {
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../img/portraittabletHeroImage.jpg); } }

.hero-text {
  font-size: 7rem;
  font-weight: 100;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  letter-spacing: 1rem;
  animation: fadein forwards 1s ease;
  padding-top: 15rem;
  margin-bottom: 3rem;
  text-align: center; }
  @media (max-width: 75em) {
    .hero-text {
      padding-top: 25rem; } }

.slogan {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.3;
  position: absolute;
  left: 50%;
  top: 110%;
  transform: translate(-50%, -50%);
  margin-bottom: 6rem; }

#mission {
  min-height: 100vh;
  background: #333333; }
  @media (max-width: 52.125em) {
    #mission {
      margin-top: -2.8rem;
      padding-top: 2rem; } }

.mission-text {
  position: relative;
  text-align: center;
  padding-top: 5rem;
  font-size: 4rem;
  color: #dcdde1;
  margin-bottom: 10rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300; }
  @media (max-width: 75em) {
    .mission-text {
      margin-bottom: 16rem; } }
  @media (max-width: 52.125em) {
    .mission-text {
      padding-top: 0rem; } }

.scroll-container {
  background: transparent;
  margin: auto;
  display: flex;
  justify-content: center; }

.downwards {
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(355deg) brightness(109%) contrast(101%);
  height: 3rem;
  opacity: .5;
  animation: bounce 3s ease-in-out infinite;
  transition: all .3s ease-in-out; }
  .downwards:hover {
    filter: invert(91%) sepia(16%) saturate(3200%) hue-rotate(332deg) brightness(104%) contrast(97%);
    opacity: .7; }

.scroll-down {
  background: transparent;
  border: none;
  position: absolute;
  top: 260%;
  cursor: pointer; }
  @media (max-width: 85.375em) {
    .scroll-down {
      top: 180%; } }
  @media (max-width: 52.125em) {
    .scroll-down {
      top: 170%; } }

#services {
  min-height: 100vh;
  background: linear-gradient(62deg, rgba(29, 67, 80, 0.94), rgba(164, 57, 49, 0.9)), url(../../img/heroConstruction.jpg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
  color: #fff; }

.services-header {
  font-weight: 100;
  font-size: 5rem;
  text-align: center;
  padding-top: 5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 5rem; }
  @media (max-width: 85.375em) {
    .services-header {
      margin-bottom: 17rem; } }
  @media (max-width: 75em) {
    .services-header {
      margin-bottom: 15rem; } }
  @media (max-width: 52.125em) {
    .services-header {
      padding-bottom: 25rem;
      margin-bottom: 0; } }

#portfolio {
  min-height: 50vh;
  background: #dcdde1; }

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; }

#clientele {
  min-height: 100vh;
  background: #dcdde1; }

.clientele-hero {
  text-align: center;
  font-size: 4rem;
  padding-top: 5rem;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 300; }

#contact {
  min-height: 75vh;
  background: linear-gradient(135deg, #1d4350, #fbc531); }
  @media (max-width: 85.375em) {
    #contact {
      min-height: 90vh; } }
  @media (max-width: 75em) {
    #contact {
      min-height: 50vh; } }
  @media (max-width: 52.125em) {
    #contact {
      min-height: 60vh; } }

#footer {
  min-height: 30vh;
  background-color: #333333; }

.local-start {
  width: 70%;
  margin: auto;
  border-top: 1px solid #333333;
  border-left: none; }

.local-start:last-of-type {
  padding-bottom: 2rem;
  opacity: 0; }

.navigation-bar {
  display: flex;
  padding-top: 1.8rem;
  justify-content: space-around;
  z-index: 5000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2.5rem 3rem;
  color: #fff; }
  .navigation-bar h2 {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: .7px;
    font-weight: bold; }
  .navigation-bar .earth {
    height: 2rem;
    margin-left: 1rem; }
  .navigation-bar div {
    display: flex;
    align-items: center;
    justify-content: center; }

.navigation-list {
  display: flex; }
  .navigation-list li a {
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 3rem;
    transition: all .3s ease-in-out;
    letter-spacing: .7px; }
    .navigation-list li a:hover {
      color: white; }

.scrolled-navigation {
  background-color: rgba(220, 221, 225, 0.95);
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  text-transform: uppercase; }

.scrolled-navigation-text {
  color: rgba(0, 0, 0, 0.7) !important; }

.btn {
  position: absolute;
  left: 50%;
  top: 170%;
  transform: translate(-50%, -50%);
  font-size: 1.6rem;
  background-color: #fbc531;
  padding: 2rem 4rem;
  border-radius: 4rem;
  color: #000;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .4s ease-in-out;
  box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, 0.5);
  display: block; }
  @media (max-width: 85.375em) {
    .btn {
      top: 150%; } }
  @media (max-width: 52.125em) {
    .btn {
      top: 130%; } }
  .btn:hover {
    background-color: #fff; }
  .btn:active {
    box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -49%); }
  .btn:focus {
    background-color: #fff; }

.circular-text {
  position: fixed;
  top: 77.5%;
  left: 92%;
  color: rgba(255, 255, 255, 0);
  font-size: 1.7rem;
  font-weight: bolder;
  transition: 0.5s ease-out;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.6);
  z-index: 10;
  opacity: 0; }
  @media (max-width: 85.375em) {
    .circular-text {
      top: 72.7%;
      left: 91%; } }
  @media (max-width: 75em) {
    .circular-text {
      top: 82%;
      left: 91%; } }
  @media (max-width: 56.25em) {
    .circular-text {
      top: 82%;
      left: 89%; } }
  @media (max-width: 52.125em) {
    .circular-text {
      left: 87%; } }

.arrow {
  position: fixed;
  top: 87%;
  left: 92%;
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 0; }
  @media (max-width: 85.375em) {
    .arrow {
      top: 86%;
      left: 91%; } }
  @media (max-width: 75em) {
    .arrow {
      top: 89%;
      left: 91%; } }
  @media (max-width: 56.25em) {
    .arrow {
      top: 88.8%;
      left: 89%; } }
  @media (max-width: 52.125em) {
    .arrow {
      top: 91%;
      left: 87.1%; } }

.arrow-up {
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(265deg) brightness(108%) contrast(101%);
  height: 3rem;
  cursor: pointer;
  transition: all .3s ease-in-out;
  animation: bounce 2s ease-in-out infinite; }
  .arrow-up:hover {
    filter: invert(91%) sepia(16%) saturate(3200%) hue-rotate(332deg) brightness(104%) contrast(97%); }
  .arrow-up:hover .circular-text {
    -webkit-text-stroke: 1px rgba(251, 197, 49, 0.6); }

@keyframes bounce {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-5px); }
  100% {
    transform: translateY(0); } }

.dark-background-scroll {
  -webkit-text-stroke: 1.2px rgba(0, 0, 0, 0.6) !important; }

.dark-arrow {
  filter: invert(0%) sepia(26%) saturate(13%) hue-rotate(318deg) brightness(99%) contrast(100%) !important; }

.mission-container {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 85.375em) {
    .mission-container {
      padding-bottom: 3rem; } }
  @media (max-width: 75em) {
    .mission-container {
      flex-direction: column; } }

.mission-photo-container {
  flex: 0 0 43%; }

.mission-photo {
  width: 100%;
  border-radius: 2rem;
  position: relative; }
  @media (max-width: 85.375em) {
    .mission-photo {
      width: 90%; } }
  @media (max-width: 75em) {
    .mission-photo {
      width: 50%;
      display: block;
      margin: 6rem auto; } }
  @media (max-width: 56.25em) {
    .mission-photo {
      width: 60%; } }
  .mission-photo::after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: block;
    left: 0;
    width: 10rem;
    height: 10rem;
    content: "Fort Lauderdale Florida Ferrari Dealership";
    color: #dcdde1;
    font-size: 1.5rem;
    z-index: 50; }

.mission-statement {
  flex: 0 0 50%; }
  .mission-statement h3:last-of-type {
    margin-top: 2rem; }
  .mission-statement h3 {
    color: #dcdde1;
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px; }
    .mission-statement h3::after {
      display: block;
      height: 2px;
      background-color: #fbc531;
      content: "";
      width: 10rem;
      margin: 0 auto;
      margin-top: 1rem; }
  .mission-statement p {
    color: #dcdde1;
    font-size: 1.6rem;
    padding: 2rem 0;
    line-height: 1.8;
    hyphens: auto;
    width: 80%;
    text-align: center;
    margin: auto; }
    @media (max-width: 75em) {
      .mission-statement p {
        width: 60%; } }

.card-container {
  margin-top: -20rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr; }
  @media (max-width: 85.375em) {
    .card-container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-column-gap: 2rem;
      grid-row-gap: 3rem; } }
  @media (max-width: 75em) {
    .card-container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-column-gap: 2rem;
      grid-row-gap: 3rem; } }
  @media (max-width: 52.125em) {
    .card-container {
      grid-column-gap: 0rem;
      grid-row-gap: 0rem; } }

.card {
  background: rgba(51, 51, 51, 0.8);
  margin-left: 3rem;
  color: #dcdde1;
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  align-items: center;
  padding: 1rem 2rem;
  font-family: 'Lato';
  transition: all .4s ease-out; }
  .card-icon {
    height: 7rem;
    filter: invert(84%) sepia(45%) saturate(2894%) hue-rotate(0deg) brightness(104%) contrast(106%);
    margin: 3rem 0rem; }
  .card-header {
    font-size: 1.7rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-family: 700;
    color: #fff;
    text-align: center;
    padding-top: 4rem;
    letter-spacing: 2px; }
  .card-paragraph {
    font-size: 1.5rem;
    padding: 3rem 3rem;
    text-align: center;
    padding-bottom: 4rem; }
  .card:hover {
    transform: scale(1.05); }
  @media (max-width: 85.375em) {
    .card {
      padding: 0rem 0rem;
      margin: 0;
      width: 50rem;
      height: 35rem; } }
  @media (max-width: 75em) {
    .card {
      padding: 0rem 0rem;
      margin: 0;
      width: 50rem; } }

@media (max-width: 52.125em) {
  .card:last-of-type {
    margin-bottom: 10rem; } }

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 400px 400px;
  grid-gap: 0; }
  @media (max-width: 75em) {
    .portfolio-grid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 400px); } }

.portfolio-figure {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden; }

.portfolio-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: saturate(0.4);
  transition: all .2s ease-in-out; }
  .portfolio-image:hover {
    filter: saturate(1); }

.client {
  justify-content: space-between;
  display: block;
  display: flex;
  margin: 5rem auto;
  max-width: 400px;
  position: relative;
  align-items: center; }
  .client:first-of-type {
    margin-top: 5rem; }
  .client p {
    font-size: 1.8rem; }
  .client::after {
    left: 50%;
    top: 180%;
    position: absolute;
    display: block;
    height: 2px;
    background-color: #000;
    content: "";
    width: 40rem;
    transform: translateX(-50%); }

.international {
  -webkit-text-stroke: 1.3px #000;
  color: transparent;
  font-size: 2.5rem;
  transform: rotate(90deg);
  position: absolute;
  right: 14.5%;
  top: 20%; }
  @media (max-width: 52.125em) {
    .international {
      right: 10%; } }

.local {
  -webkit-text-stroke: 1.3px #000;
  color: transparent;
  font-size: 2.5rem;
  transform: rotate(90deg);
  position: absolute;
  right: 18%;
  top: 60%; }

.touch {
  text-align: center;
  padding-top: 7rem;
  font-size: 5rem;
  color: #dcdde1;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 5rem; }

.contact-secondary {
  text-align: center;
  font-size: 1.6rem;
  color: #fff; }

.field {
  text-align: center; }

.name,
.email,
.message {
  width: 50%;
  margin-bottom: 4rem;
  padding: 2rem 3rem;
  border: none;
  background: none;
  border-bottom: 2px #fff solid; }
  .name:invalid,
  .email:invalid,
  .message:invalid {
    border-bottom: 2px #c0392b solid; }

::-webkit-input-placeholder {
  text-align: center;
  font-size: 1.6rem;
  font-family: 'Lato';
  color: #fff;
  line-height: 1.5; }
  @media (max-width: 52.125em) {
    ::-webkit-input-placeholder {
      font-size: 1.3rem; } }

.form-btn {
  width: 20%;
  padding: 1rem 2rem;
  border: none;
  font-size: 1.6rem;
  background-color: #fff;
  cursor: pointer;
  transition: all .3s ease-in-out;
  box-shadow: 1rem 1rem 30rem rgba(0, 0, 0, 0.5); }
  .form-btn:hover {
    background-color: #333333;
    color: #fff; }
  .form-btn:active {
    box-shadow: 0.3rem 0.3rem 7rem rgba(0, 0, 0, 0.5); }
  .form-btn:focus {
    background-color: #333333;
    color: #fff; }

.form {
  padding-top: 4rem; }

.nav-bar-icons {
  color: #fff;
  font-size: 2rem;
  margin-left: .5rem;
  opacity: .6;
  transition: all .3s ease; }

.nav-bar-icons:hover {
  opacity: 1; }

.twitter-icon:hover {
  opacity: 1;
  color: #00acee; }

.facebook-icon:hover {
  opacity: 1;
  color: #3b5998; }

.instagram-icon:hover {
  opacity: 1;
  color: #e1306c; }

.github-icon:hover {
  opacity: 1; }

.linkedin-icon:hover {
  opacity: 1;
  color: #0e76a8; }

.mail-icon:hover {
  opacity: 1;
  color: #B23121; }

.nav-list {
  display: flex; }

.nav-list-item {
  margin-right: 5rem;
  font-size: 1.6rem; }

.nav-link {
  color: #dfe6e9;
  transition: all .3s ease;
  opacity: .6; }

.nav-link:hover {
  opacity: 1;
  color: #00b894; }

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 114rem;
  margin: 0 auto;
  text-align: center; }
  @media (max-width: 75em) {
    .footer-container {
      max-width: 100rem; } }
  @media (max-width: 56.25em) {
    .footer-container {
      max-width: 75rem; } }
  @media (max-width: 52.125em) {
    .footer-container {
      max-width: 65rem; } }

.footer-container ul:first-of-type li a {
  font-size: 1.4rem; }

.footer-container ul {
  list-style: none;
  display: flex;
  margin-top: 3rem;
  font-size: 2rem; }

.footer-container ul li {
  margin-left: 1rem;
  color: #fff;
  font-size: 1rem; }

.footer-container ul li a {
  color: #fff;
  opacity: 0.5;
  transition: all 0.2s; }

.footer-container ul li a:hover {
  opacity: 1; }

.footer-container p {
  font-size: 1rem; }

#copyright {
  font-size: 1rem;
  text-align: center;
  margin-top: 2rem;
  opacity: 0.5;
  color: #fff;
  font-size: 1.6rem; }

ion-icon {
  font-size: 2rem; }
