.about-us-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;

    @include respond(tablet-landscape) {
        justify-content: space-around;
    }

    @include respond(phone) {
        padding-top: 2.5rem;
    }


}

.wise-logo-nav {
    width: 40%;
}

.about-us-navigation-item {
    font-size: 1.6rem;
    color: $colour-black;
    text-transform: uppercase;
    transition: all .3s ease-in-out;

    &:hover {
        border-bottom: .3rem solid $colour-black;
    }
}

.about-hero-text {
    font-weight: 300;
    text-shadow: none;
    font-size: 5.5rem;
    padding-top: 13rem;
    letter-spacing: 2px;
    margin-bottom: 10rem;
    font-size: 6rem;
    text-transform: uppercase;
    animation: fadein forwards 1s ease;
    text-align: center;

    @include respond(laptop-medium) {
        padding-top: 8rem;
        margin-bottom: 4rem;
        font-size: 5rem;

    }

    @include respond(ipad-pro) {
        padding-top: 15rem;
    }

    @include respond(iphoneXSMaxLandscape) {
        padding-top: 2rem;
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }

    @include respond(iphone-7plus-landscape) {
        padding-top: 2rem;
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }

    @include respond(phone) {
        padding-top: 4rem;
        font-size: 3.2rem;
    }

    @include respond(small-phone) {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    @include respond(galaxy-fold) {
        font-size: 2rem;
    }
}

#about-us {
    min-height: 100vh;
    background: #ddd;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;
}

.about-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-info {
        font-size: 1.6rem;
        line-height: 1.6;
        width: 60ch;
        text-align: center;

    }

    &-image {
        width: 40%;
    }
}

.header-info-container {
    display: flex;
    justify-content: center;
}

.header-info {
    text-align: center;
    width: 60%;
    font-size: 1.7rem;
    line-height: 1.7;


    @include respond(iphoneXSMaxLandscape) {
        width: 90%;
        font-size: 1.5rem;
    }

    @include respond(iphone-7plus-landscape) {
        width: 90%;
        font-size: 1.5rem;
    }

    @include respond(phone) {
        width: 80%;
        font-size: 1.5rem;
    }

    @include respond(small-phone) {
        width: 90%;
        font-size: 1.5rem;
    }

    @include respond(galaxy-fold) {
        font-size: 1.4rem;
    }


    &::after {

        display: block;
        height: 2px;
        background-color: $colour-black;
        content: "";
        width: 30rem;
        margin: 0 auto;
        margin-top: 3.5rem;

        @include respond(phone) {
            width: 15rem;
        }

        @include respond(small-phone) {
            width: 10rem;
        }
    }
}

.scroll-down-button-container {
    display: flex;
    justify-content: center;
}

.scroll-down-image {
    filter: invert(0%) sepia(13%) saturate(7492%) hue-rotate(122deg) brightness(89%) contrast(97%);
    height: 3rem;
    opacity: .9;
    animation: bounce 3s ease-in-out infinite;
    transition: all .3s ease-in-out;

    &:hover {
        opacity: 1;
    }

}

.scroll-down-button {
    background: transparent;
    border: none;
    position: absolute;
    cursor: pointer;
    top: 140%;


    @include respond(laptop-medium) {
        top: 120%;
    }

    @include respond(iphone-7plus-landscape) {
        top: 105%;
    }

    @include respond(phone) {
        top: 105%;
    }


}

#about {
    min-height: 100vh;
    background-color: $colour-dark-gray;
}

.timeline {
    width: 80rem;
    margin: auto;
    padding-top: 6rem;
    padding-bottom: 5rem;

    @include respond(small-ipad) {
        width: 70rem;
    }

    @include respond(phone) {
        width: 40rem;
    }

    @include respond(small-phone) {
        width: 35rem;
    }

    @include respond(galaxy-fold) {
        width: 29rem;
    }
}

.timeline li {
    position: relative;
    list-style: none;
}

.timeline li .item {
    position: relative;
    min-height: 6rem;
    padding: 0 2rem 3rem;
    margin-left: 2rem;
    border-left: .2rem solid $colour-white;

    &::after {
        display: block;
        height: 2px;
        background-color: rgba($colour-white, .2);
        content: "";
        width: 20rem;
        margin: 0 auto;
        margin-top: 3.5rem;
    }
}

.timeline li:last-child .item {
    border-left: .1rem solid transparent;
}

.timeline li .item span {
    position: absolute;
    top: -.8rem;
    left: -2rem;
    width: 4rem;
    height: 4rem;
    text-align: center;
    color: #000;
    line-height: 4rem;
    border-radius: 50%;
    background-color: #fff;
    font-size: 2.2rem;

    @include respond(phone) {
        font-size: 2rem;
    }
}

.timeline li .item h3,
.timeline li .item p {
    color: $colour-white;
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.6;
    margin-left: 1rem;

}

.timeline li .item h3 {
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    margin-bottom: 1rem;
}

.about-header {
    font-weight: 100;
    font-size: 5rem;
    text-align: center;
    padding-top: 5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 5rem;
    color: $colour-white;

    @include respond(phone) {
        font-size: 3rem;
        font-weight: 300;
    }
}

.smart-home-link {
    color: $colour-white;
    transition: all .3s ease-in-out;

    &:hover {
        border-bottom: $colour-white .2rem solid;
        padding-bottom: .2rem;
    }
}

#team {
    min-height: 70vh;
    background-color: $colour-light-gray;

    @include respond(ipad-pro) {
        min-height: 50vh;
    }

    @include respond(tablet) {
        min-height: 60vh;
    }


    @include respond(phone) {
        min-height: 60vh;
    }
}

.team-header {
    color: $colour-black;
    font-weight: 300;
    margin-bottom: 7rem;
    padding-top: 5rem;

    @include respond(phone) {
        font-size: 4rem;
    }

}

.about-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba($colour-dark-gray, .9);
    border-radius: .5rem;
    align-items: center;
    font-family: 'Lato';
    transition: all .4s ease-out;
    width: 35rem;
    height: 40rem;
    margin-right: 2rem;

    &-header {
        font-size: 1.9rem;
        text-transform: uppercase;
        margin-bottom: 2rem;
        font-family: 700;
        color: $colour-white;
        text-align: center;
        padding-top: 4rem;
        letter-spacing: 2px;

    }

    &-paragraph {
        font-size: 1.6rem;
        padding: 3rem 3rem;
        text-align: center;
        padding-bottom: 4rem;
        color: $colour-white;
    }

    &-logo {
        text-align: center;
    }

    &-icon {
        width: 25%;
        text-align: center;
        filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(204deg) brightness(106%) contrast(101%);
    }

    @include respond(ipad-pro) {
        margin-left: .3rem;
        margin-right: .3rem;
    }

    @include respond(phone) {
        margin-right: .2rem;
    }
}

.glider {
    margin-bottom: 2rem;
}

.glider-prev {
    transform: translateX(-2rem);
    cursor: pointer;


    @include respond(laptop-medium) {
        transform: translateX(-.8rem) scale(0.7);
    }
}

.glider-next {
    transform: translateX(2rem);
    cursor: pointer;

    @include respond(laptop-medium) {
        transform: translateX(.8rem) scale(0.7);
    }
}


#partners {
    min-height: 65vh;
    background: $colour-dark-gray;

    @include respond(big-desk) {
        min-height: 55vh;
    }

    @include respond(laptop-medium) {
        min-height: 70vh;
    }

}

.partner-wise-logo,
.partner-wise-info {
    text-align: center;
    color: $colour-white;
}

.partner-wise-logo {
    margin-bottom: .5rem;
    font-size: 12rem;
    font-weight: 400;
    padding-top: 5rem;
    letter-spacing: 2px;

    @include respond(laptop-medium) {
        font-size: 9rem;
    }

    @include respond(phone) {
        font-size: 7rem;
    }

}

.partner-wise-info {
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-bottom: 5rem;

    @include respond(ipad-pro) {
        margin-bottom: 10rem;
    }
}

.partner-logos {
    height: 12rem;

    @include respond(ipad-pro) {
        margin-bottom: 3rem;
    }

    @include respond(laptop-medium) {
        height: 10rem;
    }

    @include respond(phone) {
        height: 8rem;
    }
}

.remax {
    @include respond(ipad-pro) {
        transform: translateX(2rem);
    }
}

.partner-logo-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    @include respond(ipad-pro) {
        flex-direction: column;
    }
}

.landmark {
    transform: translateX(-2rem);

    @include respond(ipad-pro) {
        transform: translateX(0);
    }
}

#contact-us {
    min-height: 75vh;
    background-color: $colour-light-gray;

    @include respond(big-desk) {
        min-height: 55vh;
    }

    @include respond(laptop-medium) {
        min-height: 90vh;
    }

    @include respond(tab-land) {
        min-height: 50vh;
    }

    @include respond(tablet-landscape) {
        min-height: 75vh;
    }

    @include respond(tablet) {
        min-height: 60vh;
    }

    @include respond(ipad-pro) {
        min-height: 47vh;
    }

    @include respond(tablet-medium-landscape) {
        min-height: 80vh;
    }
}

.contact-us-header {
    text-align: center;
    padding-top: 7rem;
    font-size: 5rem;
    color: $colour-dark-gray;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 5rem;
}


.about-us-field {
    text-align: center;
}

.about-us-name,
.about-us-email,
.about-us-message {
    width: 50%;
    margin-bottom: 4rem;
    padding: 2rem 3rem;
    border: none;
    background: none;
    border-bottom: 2px $colour-dark-gray solid;


    @include respond(phone) {
        width: 60%;
        padding: 3rem 3rem;
    }
}

.about-us-name::-webkit-input-placeholder,
.about-us-email::-webkit-input-placeholder,
.about-us-message::-webkit-input-placeholder {
    text-align: center;
    font-size: 1.6rem;
    font-family: 'Lato';
    color: $colour-dark-gray;
    line-height: 3;
    padding: 2rem 3rem;
    overflow: visible;

    @include respond(tablet-landcape) {
        font-size: 1.3rem;
        transform: translateY(-10rem);
    }

    @include respond(tablet) {
        font-size: 1.3rem;
        transform: translateY(-4rem);
    }

    @include respond(tablet-medium-landscape) {
        padding: 2rem 3rem;
        font-size: 1rem;
        transform: translateY(-1.8rem);
    }

    @include respond(phone) {
        padding: 2rem 3rem;
        font-size: 1rem;
        transform: translateY(-1.8rem);
    }
}