#home-smart {
    background: linear-gradient(rgba($colour-black, .7), rgba($colour-black, .7)), url(../../img/signatureDesktopHeroImage.jpg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;
    min-height: 100vh;
    color: #fff;
    background-attachment: fixed;
    position: relative;

    @include respond(laptop-medium) {
        background: linear-gradient(rgba($colour-black, .4), rgba($colour-black, .4)), url(../../img/signaturelaptopHeroImage.jpg);
    }


    @include respond(tab-land) {
        background: linear-gradient(rgba($colour-black, .4), rgba($colour-black, .4)), url(../../img/signaturetabletHeroImage.jpg);
    }

    @include respond(tablet-landscape) {
        background: linear-gradient(rgba($colour-black, .4), rgba($colour-black, .4)), url(../../img/signaturetabletLandscapeHeroImage.jpg);
    }

    @include respond(ipad-pro) {
        background: linear-gradient(rgba($colour-black, .4), rgba($colour-black, .4)), url(../../img/signatureIPadProHeroImage.jpg);
    }

    @include respond(iphone-7plus-landscape) {
        background: linear-gradient(rgba($colour-black, .4), rgba($colour-black, .4)), url(../../img/signatureIPhone7PlusLandscapeHeroImage.jpg);
    }

    @include respond(iphone-7plus) {
        background: linear-gradient(rgba($colour-black, .4), rgba($colour-black, .4)), url(../../img/signature7PlusHeroImage.jpg);
    }

    @include respond(iphoneXSMax) {
        background: linear-gradient(rgba($colour-black, .4), rgba($colour-black, .4)), url(../../img/signatureIPhoneXSMAXHeroImage.jpg);
    }

    @include respond(iphoneXS) {
        background: linear-gradient(rgba($colour-black, .4), rgba($colour-black, .4)), url(../../img/signatureIPhoneXHeroImage.jpg);
    }
}

.smart-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;

    @include respond(tablet-landscape) {
        justify-content: space-around;
    }

    @include respond(phone) {
        padding-top: 2.5rem;
    }


}

.smart-logo-nav {
    width: 40%;
}

.smart-navigation-item {

    font-size: 1.6rem;
    color: rgba($colour-white, .8);
    text-transform: uppercase;
    transition: all .3s ease-in-out;

    &:hover {
        border-bottom: .3rem solid rgba($colour-white, .8);
    }
}

.smart-text-header {
    font-size: 6rem;
    text-align: center;
}

.signature-header {
    color: $colour-light-gray;
    text-align: center;
    font-size: 5.5rem;
    padding-top: 10rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 5rem;
    animation: fadein forwards 1s ease;
}

.signature-info {
    text-align: center;
    animation: fadein forwards 1s ease;
    font-size: 2rem;
    font-weight: 400;
    color: $colour-light-gray;
}

#video {
    min-height: 100vh;
    background-color: $colour-dark-gray;
}

#features {
    min-height: 100vh;
    background-color: $colour-dark-gray;
}

.signature-scroll-container {
    display: flex;
    justify-content: center;
}

.signature-scroll-down-image {
    filter: invert(100%) sepia(0%) saturate(6259%) hue-rotate(7deg) brightness(117%) contrast(73%);
    animation: bounce 3s ease-in-out infinite;
    height: 3rem;
}

.signature-scroll-button {
    background: transparent;
    border: none;
    position: absolute;
    cursor: pointer;
    top: 240%;

    
    @include respond(phone) {
      top: 150%;
    }

}

.feature {
    margin: 0rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba($loxone-green, .9);
    border-radius: .5rem;
    align-items: center;
    font-family: 'Lato';
    transition: all .4s ease-out;
    width: 35rem;
    height: 40rem;
    margin-bottom: 5rem;


    &-header {
        font-size: 2.3rem;
        text-transform: uppercase;
        margin-bottom: 2rem;
        font-family: 700;
        color: $colour-black;
        text-align: center;
        letter-spacing: 1.2px;

    }

    &-paragraph {
        font-size: 1.6rem;
        padding: 3rem 3rem;
        text-align: center;
        padding-bottom: 2rem;
        color: $colour-black;
        letter-spacing: .7px;
    }

    &-logo {
        text-align: center;
    }

    &-icon {
        width: 25%;
        text-align: center;
        filter: invert(0%) sepia(6%) saturate(7476%) hue-rotate(257deg) brightness(93%) contrast(107%);
        opacity: .9;
    }

}

.feature:last-of-type {
    margin-bottom: 0rem;
}

.feature-container {
    padding-bottom: 7rem;
}


.feature-hero-text {
    text-align: center;
    color: $colour-light-gray;
    font-size: 5rem;
    font-weight: 300;
    padding-top: 5rem;
    margin-bottom: 10rem;
    text-transform: uppercase;
}

#smart-home-feature {
    min-height: 100vh;
    background: $loxone-background;
}

.house-features {
    width: 70%;

    @include respond(tablet) {
        width: 85%;
    }
}

.house-image-container {
    margin: auto;
    text-align: center;
}

.smart-home-features-header {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 4.5rem;
    padding-top: 5rem;
    font-weight: 300;
    color: $colour-dark-gray;
    text-transform: uppercase;
    letter-spacing: 2px;
}



.feature-list-item {
    justify-content: center;
    display: block;
    display: flex;
    margin: 5rem auto;
    max-width: 30rem;
    position: relative;
    align-items: center;

    &:first-of-type {
        margin-top: 5rem;
    }

    & p {
        font-size: 1.8rem;
    }

    &::after {
        left: 50%;
        top: 180%;
        position: absolute;
        display: block;
        height: 2px;
        background-color: $loxone-green;
        content: "";
        width: 25rem;
        transform: translateX(-50%);

        @include respond(phone) {
            width: 35rem;
        }
    }

    @include respond(phone) {
        max-width: 30rem;
    }
}

.feature-hr {
    border: $loxone-green solid .2rem;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding-bottom: 5rem;
    width: 50%;
    margin: auto;

}

.feature-btn-container {
    text-align: center;
    padding: 5rem 0 7rem 0rem;
}

.feature-btn {
    font-size: 1.6rem;
    border-radius: 5rem;
    color: $colour-black;
    background-color: $loxone-green;
    padding: 2rem 4rem;
    transition: all .3s ease-in-out;

    &:hover {
        background-color: $colour-dark-gray;
        color: $colour-light-gray;
    }
}


#feature-contact-us {
    min-height: 75vh;
    background-color: $colour-light-gray;

    @include respond(laptop-medium) {
        min-height: 90vh;
    }

    @include respond(tab-land) {
        min-height: 50vh;
    }

    @include respond(tablet-landscape) {
        min-height: 75vh;
    }

    @include respond(tablet) {
        min-height: 60vh;
    }

    @include respond(ipad-pro) {
        min-height: 47vh;
    }

    @include respond(tablet-medium-landscape) {
        min-height: 80vh;
    }
}

.feature-form-header {
    text-align: center;
    padding-top: 7rem;
    font-size: 5rem;
    color: $colour-black;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 5rem;
}


.feature-field {
    text-align: center;
}

.feature-name,
.feature-email,
.feature-message {
    width: 50%;
    margin-bottom: 4rem;
    padding: 2rem 3rem;
    border: none;
    background: none;
    border-bottom: 2px $colour-black solid;


    @include respond(phone) {
        width: 60%;
        padding: 3rem 3rem;
    }
}

.feature-name::-webkit-input-placeholder,
.feature-email::-webkit-input-placeholder,
.feature-message::-webkit-input-placeholder {
    text-align: center;
    font-size: 1.6rem;
    font-family: 'Lato';
    color: $colour-dark-gray;
    line-height: 3;
    padding: 2rem 3rem;
    overflow: visible;

    @include respond(tablet-landcape) {
        font-size: 1.3rem;
        transform: translateY(-10rem);
    }

    @include respond(tablet) {
        font-size: 1.3rem;
        transform: translateY(-4rem);
    }

    @include respond(tablet-medium-landscape) {
        padding: 2rem 3rem;
        font-size: 1rem;
        transform: translateY(-1.8rem);
    }

    @include respond(phone) {
        padding: 2rem 3rem;
        font-size: 1rem;
        transform: translateY(-1.8rem);
    }
}