#home-smart {
    background: $colour-dark-gray;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;
    min-height: 100vh;
    color: #fff;
    position: relative;
}

.smart-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;

    @include respond(tablet-landscape) {
        justify-content: space-around;
    }

    @include respond(phone) {
        padding-top: 2.5rem;
    }


}

.smart-logo-nav {
    width: 40%;
}

.smart-navigation-item {

    font-size: 1.6rem;
    color: rgba($colour-white, .8);
    text-transform: uppercase;
    transition: all .3s ease-in-out;

    &:hover {
        border-bottom: .3rem solid rgba($colour-white, .8);
    }
}

.smart-text-header {
    font-size: 6rem;
    text-align: center;
}

.signature-header {
    color: $colour-light-gray;
    text-align: center;
    font-size: 6rem;
    padding-top: 10rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 5rem;
    animation: fadein forwards 1s ease;
}

.signature-info {
    text-align: center;
    animation: fadein forwards 1s ease;
    font-size: 2.4rem;
    font-weight: 400;
    color: $colour-light-gray;
}

#video {
    min-height: 100vh;
    background-color: $colour-dark-gray;
}

#features {
    min-height: 100vh;
    background-color: $colour-dark-gray;
}

.signature-scroll-container {
    display: flex;
    justify-content: center;
}

.signature-scroll-down-image {
    filter: invert(100%) sepia(80%) saturate(248%) hue-rotate(178deg) brightness(92%) contrast(91%);
    opacity: .9;
    animation: bounce 3s ease-in-out infinite;
    transition: all .3s ease-in-out;
    height: 3rem;

    &:hover {
        opacity: 1;
    }

}

.signature-scroll-button {
    background: transparent;
    border: none;
    position: absolute;
    cursor: pointer;
    top: 240%;
}

.feature {
    margin: 0rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba($colour-light-gray, .9);
    border-radius: .5rem;
    align-items: center;
    font-family: 'Lato';
    transition: all .4s ease-out;
    width: 35rem;
    height: 40rem;
    margin-bottom: 5rem;


    &-header {
        font-size: 2.3rem;
        text-transform: uppercase;
        margin-bottom: 2rem;
        font-family: 700;
        color: $colour-dark-gray;
        text-align: center;
        letter-spacing: 2px;

    }

    &-paragraph {
        font-size: 1.6rem;
        padding: 3rem 3rem;
        text-align: center;
        padding-bottom: 2rem;
        color: $colour-dark-gray;
        letter-spacing: .7px;
    }

    &-logo {
        text-align: center;
    }

    &-icon {
        width: 25%;
        text-align: center;
        filter: invert(0%) sepia(93%) saturate(0%) hue-rotate(191deg) brightness(93%) contrast(100%);
        opacity: .7;
    }

}

.feature:last-of-type {
    margin-bottom: 0rem;
}


.feature-hero-text {
    text-align: center;
    color: $colour-light-gray;
    font-size: 5rem;
    font-weight: 300;
    padding-top: 5rem;
    margin-bottom: 10rem;
    text-transform: uppercase;
}