.nav-bar-icons {
    color: #fff;
    font-size: 2rem;
    margin-left: .5rem;
    opacity: .6;
    transition: all .3s ease;
}

.nav-bar-icons:hover {
    opacity: 1;
}

.twitter-icon:hover {
    opacity: 1;
    color: #00acee;
}

.facebook-icon:hover {
    opacity: 1;
    color: #3b5998;
}

.instagram-icon:hover {
    opacity: 1;
    color: rgb(225, 48, 108);
}

.github-icon:hover {
    opacity: 1;
}

.linkedin-icon:hover {
    opacity: 1;
    color: #0e76a8;
}

.mail-icon:hover {
    opacity: 1;
    color: #B23121;
}

.nav-list {
    display: flex;
}

.nav-list-item {
    margin-right: 5rem;
    font-size: 1.6rem;
}

.nav-link {
    color: #dfe6e9;
    transition: all .3s ease;
    opacity: .6;
}

.nav-link:hover {
    opacity: 1;
    color: #00b894;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 114rem;
    margin: 0 auto;
    text-align: center;

    @include respond(tab-land) {
        max-width: 100rem;
    }

    @include respond(ipad-pro) {
        max-width: 85rem;
    }

    @include respond(tab-port) {
        max-width: 75rem;
    }

    @include respond(tablet) {
        max-width: 70rem;
    }

    @include respond(phone) {
        max-width: 60rem;
        flex-direction: column;
        align-items: center;
    }
}

.footer-container ul:first-of-type li a {
    font-size: 1.4rem;
}

.footer-container ul {
    list-style: none;
    display: flex;
    margin-top: 3rem;
    font-size: 2rem;
}

.footer-container ul li {
    margin-left: 1rem;
    color: $colour-white;
    font-size: 1rem;
}

.footer-container ul li a {
    color: $colour-white;
    opacity: 0.5;
    transition: all 0.2s;
}

.footer-container ul li a:hover {
    opacity: 1;
}

.footer-container p {
    font-size: 1rem;
}

#copyright {
    font-size: 1rem;
    text-align: center;
    margin-top: 2rem;
    opacity: 0.5;
    color: $colour-white;
    font-size: 1.6rem;
}

ion-icon {
    font-size: 2rem;
}