.btn {
    position: absolute;
    left: 50%;
    top: 170%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
    background-color: $colour-yellow;
    padding: 2rem 4rem;
    border-radius: 4rem;
    color: $colour-black;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .4s ease-in-out;
    box-shadow: 1rem 1rem 5rem rgba($colour-black, .5);
    display: block;

    @include respond(laptop-medium) {
        top: 150%;
    }

    @include respond(tablet) {
        top: 130%;
    }
    @include respond(iphone-7plus-landscape) {
       top: 150%;
    }
    @include respond(phone) {
        top: 150%;
    }
    @include respond(phone) {
     padding: 1.5rem 3rem;
     font-size: 1.1rem;
    }
    &:hover {
        background-color: $colour-white;
    }

    &:active {
        box-shadow: .3rem .3rem 1rem rgba($colour-black, .5);
        transform: translate(-50%, -49%);
    }

    &:focus {
        background-color: $colour-white;
    }
}