.card-container {
    margin-top: -20rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;

    @include respond(big-desk) {
      margin-top: -30rem;
    }
    @include respond(laptop-medium) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 2rem;
        grid-row-gap: 3rem;
    }

    @include respond(laptop) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 2rem;
        grid-row-gap: 3rem;
    }

    @include respond(tab-land) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-column-gap: 2rem;
        grid-row-gap: 3rem;
    }

    @include respond(tablet) {
        grid-column-gap: 0rem;
        grid-row-gap: 5rem;
    }

}

.card {
    background: rgba($colour-dark-gray, .8);
    margin-left: 3rem;
    color: $colour-light-gray;
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    align-items: center;
    padding: 1rem 2rem;
    font-family: 'Lato';
    transition: all .4s ease-out;

    &-icon {
        height: 7rem;
        filter: invert(84%) sepia(45%) saturate(2894%) hue-rotate(0deg) brightness(104%) contrast(106%);
        margin: 3rem 0rem;
    }

    &-header {
        font-size: 1.7rem;
        text-transform: uppercase;
        margin-bottom: 2rem;
        font-family: 700;
        color: $colour-white;
        text-align: center;
        padding-top: 4rem;
        letter-spacing: 2px;

    }

    &-paragraph {
        font-size: 1.5rem;
        padding: 3rem 3rem;
        text-align: center;
        padding-bottom: 4rem;
    }

    &:hover {
        transform: scale(1.05);
    }

    @include respond(laptop-medium) {
        padding: 0rem 0rem;
        margin: 0;
        width: 50rem;
        height: 35rem;
    }

    @include respond(laptop) {
        padding: 0rem 0rem;
        margin: 0;
        width: 50rem;
        height: 40rem;
    }

    @include respond(tab-land) {
        padding: 0rem 0rem;
        margin: 0;
        width: 50rem;
    }

    @include respond(phone) {
      width: 30rem;
    }

}

@include respond(laptop-medium) {
    .card-container {
        margin-bottom: 5rem;
    }
}

@include respond(tablet-landscape) {
    .card-container {
        margin-bottom: 7rem;
    }
}

@include respond(tablet) {
    .card-container {
        margin-bottom: 8rem;
    }
}