.client {
    justify-content: space-between;
    display: block;
    display: flex;
    margin: 5rem auto;
    max-width: 40rem;
    position: relative;
    align-items: center;

    &:first-of-type {
        margin-top: 5rem;
    }

    & p {
        font-size: 1.8rem;

        @include respond(galaxy-fold) {
            font-size: 1.4rem;
        }
    }

    &::after {
        left: 50%;
        top: 180%;
        position: absolute;
        display: block;
        height: 2px;
        background-color: $colour-black;
        content: "";
        width: 40rem;
        transform: translateX(-50%);

        @include respond(phone) {
            width: 35rem;
        }

        @include respond(galaxy-fold) {
            width: 27rem;
        }
    }

    @include respond(phone) {
        max-width: 35rem;
    }

    @include respond(galaxy-fold) {
        width: 27.5rem;
    }
}

.international {
    -webkit-text-stroke: 1.3px $colour-black;
    color: transparent;
    font-size: 2.5rem;
    transform: rotate(90deg);
    position: absolute;
    right: 14.5%;
    top: 20%;

    @include respond(tablet) {
        right: 10%;
    }

    @include respond(phone) {
        position: static;
        left: 0;
        top: 0;
        transform: rotate(0deg);
        text-align: center;
        padding: 2rem 0rem 0rem 0rem;
    }
}

.local {
    -webkit-text-stroke: 1.3px $colour-black;
    color: transparent;
    font-size: 2.5rem;
    transform: rotate(90deg);
    position: absolute;
    right: 18%;
    top: 60%;

    @include respond(phone) {
        position: static;
        left: 0;
        top: 0;
        transform: rotate(0deg);
        text-align: center;
        padding: 2rem 0rem 0rem 0rem;
    }
}