.touch {
    text-align: center;
    padding-top: 7rem;
    font-size: 5rem;
    color: $colour-light-gray;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 5rem;

    @include respond(phone) {
        font-weight: 300;
    }

    @include respond(galaxy-fold) {
        font-size: 3rem;
    }
}

.contact-secondary {
    text-align: center;
    font-size: 1.6rem;
    color: $colour-white;
}

.field {
    text-align: center;
}

.name,
.email,
.message {
    width: 50%;
    margin-bottom: 4rem;
    padding: 2rem 3rem;
    border: none;
    background: none;
    border-bottom: 2px $colour-white solid;

    &:invalid {
        border-bottom: 2px $red solid;
    }

    @include respond(phone) {
        width: 60%;
        padding: 3rem 3rem;
    }
}

.name::-webkit-input-placeholder,
.email::-webkit-input-placeholder,
.message::-webkit-input-placeholder {
    text-align: center;
    font-size: 1.6rem;
    font-family: 'Lato';
    color: $colour-white;
    line-height: 3;
    padding: 2rem 3rem;
    overflow: visible;

    @include respond(tablet-landcape) {
        font-size: 1.3rem;
        transform: translateY(-20rem);
    }

    @include respond(tablet) {
        font-size: 1.3rem;
        transform: translateY(-3rem);
    }

    @include respond(tablet-medium-landscape) {
        padding: 2rem 3rem;
        font-size: 1rem;
        transform: translateY(-1.8rem);
    }

    @include respond(phone) {
        padding: 2rem 3rem;
        font-size: 1rem;
        transform: translateY(-1.8rem);
    }
}

.form-btn {
    width: 20%;
    padding: 1rem 2rem;
    border: none;
    font-size: 1.6rem;
    background-color: $colour-white;
    cursor: pointer;
    transition: all .3s ease-in-out;
    box-shadow: 1rem 1rem 30rem rgba($colour-black, .5);

    &:hover {
        background-color: $colour-dark-gray;
        color: $colour-white;
    }

    &:active {
        box-shadow: .3rem .3rem 7rem rgba($colour-black, .5);
    }

    &:focus {
        background-color: $colour-dark-gray;
        color: $colour-white;
    }

    @include respond(phone) {
        width: 50%;
    }
}

.form {
    padding-top: 4rem;
    padding-bottom: 2rem;

    @include respond(tablet) {
        padding-bottom: 5rem;
    }
}