.mission-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(laptop-medium) {
        padding-bottom: 3rem;
    }

    @include respond(laptop) {
        flex-direction: column;
    }

    @include respond(tab-land) {
        flex-direction: column;
    }
}

.mission-photo-container {
    flex: 0 0 43%;

}


.mission-photo {
    width: 100%;
    border-radius: 2rem;
    position: relative;

    @include respond(laptop-medium) {
        width: 90%;

    }

    @include respond(laptop) {
        width: 60%;
        display: block;
        margin: 6rem auto;
    }

    @include respond(tab-land) {
        width: 50%;
        display: block;
        margin: 6rem auto;
    }

    @include respond(tab-port) {
        width: 60%;
    }

    @include respond(phone) {
        width: 65%;
    }

    &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        display: block;
        left: 0;
        width: 10rem;
        height: 10rem;
        content: "Fort Lauderdale Florida Ferrari Dealership";
        color: $colour-light-gray;
        font-size: 1.5rem;
        z-index: 50;
    }

}

.mission-statement {
    flex: 0 0 50%;
    position: relative;

    & h3:last-of-type {
        margin-top: 2rem;
    }

    & h3 {
        color: $colour-light-gray;
        font-size: 1.8rem;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1.5px;

        &::after {
            display: block;
            height: 2px;
            background-color: $colour-yellow;
            content: "";
            width: 10rem;
            margin: 0 auto;
            margin-top: 1rem;
        }
    }

    & p {
        color: $colour-light-gray;
        font-size: 1.6rem;
        padding: 2rem 0;
        line-height: 1.8;
        hyphens: auto;
        width: 80%;
        text-align: center;
        margin: auto;

        @include respond(laptop) {
            width: 65%;
        }

        @include respond(tab-land) {
            width: 60%;
        }

        @include respond(phone) {
            width: 70%;
        }

    }
}

.about-us-link {
    text-align: center;
    display: inline-block;
    color: $colour-white;
    font-size: 1.6rem;
    padding: .3rem .5rem .5rem .5rem;
    border-bottom: .2rem solid #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    transition: all .3s ease;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;

    &:hover {
        background-color: $colour-white;
        color: $colour-black;
    }
}

.arrow-right {
    font-size: 1.5rem;
    margin-left: .3rem;
}