.navigation-bar {
    display: flex;
    padding-top: 1.8rem;
    justify-content: space-around;
    z-index: 5000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2.5rem 3rem;
    color: $colour-white;

    & h2 {
        font-size: 1.5rem;
        color: rgba($colour-white, .5);
        letter-spacing: .7px;
        font-weight: bold;
    }

    & .earth {
        height: 2rem;
        margin-left: 1rem;
    }

    & div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.navigation-list {
    display: flex;

    & li a {
        font-size: 1.6rem;
        color: rgba($colour-white, .5);
        margin-left: 3rem;
        transition: all .3s ease-in-out;
        letter-spacing: .7px;

        &:hover {
            color: rgba($colour-white, 1);
        }
    }
}

.scrolled-navigation {
    background-color: rgba($colour-light-gray,0.95);
     box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
     text-transform: uppercase;
}
.scrolled-navigation-text {
    color: rgba($colour-black, .7) !important;
}