.navigation-bar {
    display: flex;
    padding-top: 1.8rem;
    justify-content: space-between;

    & h2 {
        font-size: 1.5rem;
        color: rgba($colour-white, .8);
    }
}

.navigation-list {
    display: flex;

    & li a {
        font-size: 1.4rem;
        color: rgba($colour-white, .8);
        margin-left: 2rem;
        transition: all .3s ease-in-out;

        &:hover {
            color: rgba($colour-white, 1);
        }
    }
}