.navigation-bar {
    display: flex;
    padding-top: 1.8rem;
    justify-content: space-around;
    z-index: 5000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2.5rem 3rem;
    color: $colour-white;

    & h2 {
        font-size: 1.5rem;
        color: rgba($colour-white, .5);
        letter-spacing: .7px;
        font-weight: bold;
    }

    & .earth {
        height: 2rem;
        margin-left: 1rem;
    }

    & div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @include respond(phone) {
        display: none;
    }
}

.navigation-list {
    display: flex;

    & li a {
        font-size: 1.6rem;
        color: rgba($colour-white, .5);
        margin-left: 3rem;
        transition: all .3s ease-in-out;
        letter-spacing: .7px;

        &:hover {
            color: rgba($colour-white, 1);
        }
    }
}

.scrolled-navigation {
    background-color: rgba($colour-light-gray, 0.95);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}

.scrolled-navigation-text {
    color: rgba($colour-black, .7) !important;
}

.menu {
    position: fixed;
    right: 3%;
    top: 2%;
    cursor: pointer;
    z-index: 180;
    display: none;

    @include respond(phone) {
        display: block;
    }
}

.menu-icon,
.close-icon {
    font-size: 3.5rem;
    cursor: pointer;
}

.mobile-nav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background: $colour-dark-gray;
    height: 6rem;
    width: 100%;
    z-index: 150;
    transition: all .4s ease-in-out;

    @include respond(phone) {
        display: block;

    }

    .mobile-nav-item {
        margin-bottom: 5rem;
    }


}

.mobile-navigation-list {
    display: flex;
    text-align: center;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translateX(-54%);
    margin-top: 10rem;
    transition: all 400ms 100ms ease-in-out;

    & li a {
        font-size: 2rem;
        text-transform: uppercase;
        text-align: center;
        color: rgba($colour-white, .5);
        margin-left: 3rem;
        transition: all .3s ease-in-out;
        letter-spacing: 1.5px;
        padding-bottom: .5rem;
        border-bottom: .1rem solid $colour-light-gray;

        &:hover {
            color: rgba($colour-white, 1);
        }
    }

    opacity: 0;
    visibility: hidden;
}

.extended {
    height: 45rem;
}

.text-appear {
    visibility: visible;
    opacity: 1;
}
.divider {
    margin: 0 auto;
    text-align: center;
    display:block;
    width: 100%;
}