.margin-bottom-xs {
    margin-bottom: 1rem;
}

.margin-bottom-sm {
    margin-bottom: 2rem;
}

.margin-bottom-md {
    margin-bottom: 5rem;
}

.margin-bottom-lg {
    margin-bottom: 8rem;
}

.margin-bottom-xl {
    margin-bottom: 10rem;
}

.margin-bottom-xxl {
    margin-bottom: 13rem;
}

.margin-top-xs {
    margin-top: 1rem;
}

.margin-top-sm {
    margin-top: 2rem;
}

.margin-top-md {
    margin-top: 5rem;
}

.margin-top-lg {
    margin-top: 8rem;
}

.margin-top-xl {
    margin-top: 10rem;
}

.margin-top-xxl {
    margin-top: 13rem;
}
