$colour-yellow:#fbc531;
$colour-black:#000;
$colour-white:#fff;
$colour-light-gray:#dcdde1;
$colour-dark-gray:#333333;
$container-size:130rem;
$colour-gold:#FFD700;
$colour-linear-orange:#FBAB7E;
$colour-linear-yellow:#F7CE68;
$colour-red-ocean-1:#1D4350;
$colour-red-ocean-2:#A43931;
$red:#c0392b;
$green:#2dca6f;
$colour-mango-pulp-1:#F09819;
$colour-mango-pulp-2:#EDDE5D;
$blue:#16a085;
$loxone-green:#73ba4c;
$loxone-background:#fdfdfc;