$colour-yellow:#fbc531;
$colour-black:#000;
$colour-white:#fff;
$colour-light-gray:#dcdde1;
$colour-dark-gray:#333333;
$container-size:130rem;
$colour-gold:#FFD700;
$colour-linear-orange:#FBAB7E;
$colour-linear-yellow:#F7CE68;
$colour-red-ocean-1:#1D4350;
$colour-red-ocean-2:#A43931;